
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 86rem;
}.item-471764-1-jbX {
  width: 100%;
  height: 48.4rem;
  object-fit: cover;
  vertical-align: top;
}
