
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.add-to-cart-bhT {
  padding: 1.2rem 6rem 3.9rem 12.1rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:040a929a239cc3cfb125bbd0dc6cb6ab1ce9ec8e');
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;

  .auto-group-kwrs-WpR {
    margin: 0rem 16.2rem 1.2rem 12.4rem;
    width: calc(100% - 28.6rem);
    height: 2.8rem;
    position: relative;
    flex-shrink: 0;

    .group-85-d8M {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 2.7rem;
      position: absolute;
      left: 0;
    }
    .group-89-A8H {
      left: 0.3rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0.8rem;
      height: 2.7rem;
      position: absolute;
    }
    .group-86-hP7 {
      vertical-align: top;
      width: 0;
      height: 2.7rem;
      position: absolute;
      left: 1.3rem;
      top: 0;
      object-fit: contain;
    }
    .group-87-3Sy {
      height: 2.7rem;
      position: absolute;
      left: 32rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0;
    }
    .group-90-bDb {
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 2.7rem;
      position: absolute;
      left: 32.2rem;
      top: 0;
    }
    .group-88-LS5 {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 2.7rem;
      position: absolute;
      left: 33.3rem;
    }
    .group-91-tCh {
      width: 0;
      height: 2.7rem;
      position: absolute;
      left: 33.1rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .choose-your-planet-2Ju {
      left: 2rem;
      top: 0.3rem;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.61rem;
      color: #ffffff;
      width: 29.3rem;
      height: 2.5rem;
      font-family: Oxanium, 'Source Sans Pro';
      font-size: 2rem;
      white-space: nowrap;
      position: absolute;
      text-align: center;
    }
  }
  .auto-group-a8tf-uNh {
    align-items: center;
    flex-shrink: 0;
    margin-left: 3.4rem;
    width: calc(100% - 3.4rem);
    height: 11.8rem;
    display: flex;

    .auto-group-pbbj-Rrq {
      flex-shrink: 0;
      width: 18rem;
      background-position: center;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:dda445465aaedfcba4952e8ff73d517b16177405');
      box-sizing: border-box;
      padding: 0.092rem 2.213rem 0.092rem 2.31rem;

      .group-8-9H3 {
        border: solid 0.2rem #9e00ff;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 2.1rem;
        margin-bottom: 0.2288rem;
        width: 100%;
        height: 11.3875rem;
        cursor: pointer;

        .rectangle-12-syj {
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          width: 100%;
          height: 11.3875rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
        }
      }
    }
    .auto-group-bmux-u9j {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.092rem 0rem 0rem 0.5rem;
      height: 100%;

      .auto-group-xjc9-Rtm {
        margin: 0rem 0.9rem 0.2rem 0rem;
        width: 13.8rem;
        height: 11.5082rem;
        position: relative;
        flex-shrink: 0;

        .front-1-1-x81 {
          width: 13.8rem;
          height: 11.4rem;
          position: absolute;
          left: 0;
          top: 0.1082rem;
          object-fit: cover;
          vertical-align: top;
        }
        .group-9-gZo {
          width: 13.4765rem;
          position: absolute;
          top: 0;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          height: 11.3875rem;
          left: 0.1745rem;
          border-radius: 2.1rem;

          .rectangle-12-ciM {
            height: 11.3875rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
            width: 100%;
          }
        }
      }
      .auto-group-rflh-Tiy {
        width: 25.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .front-2-1-1Vb {
          object-fit: cover;
          vertical-align: top;
          width: 15.5rem;
          height: 11.7rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0.0082rem;
        }
        .front-6-1-8q7 {
          left: 5.4rem;
          top: 0.4082rem;
          width: 19.9rem;
          height: 11.3rem;
          cursor: pointer;
          position: absolute;
        }
        .group-10-fKF {
          top: 0;
          border-radius: 2.1rem;
          width: 12.9951rem;
          height: 11.3875rem;
          position: absolute;
          left: 1.3575rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;

          .rectangle-12-oAZ {
            width: 100%;
            height: 11.3875rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
          }
        }
      }
    }
  }
  .auto-group-xlr9-EFs {
    flex-shrink: 0;
    margin: 0rem 14.8rem 0.9rem 6.9rem;
    width: calc(100% - 21.7rem);
    display: flex;
    align-items: center;

    .mercury-kV7 {
      white-space: nowrap;
      text-align: center;
      line-height: 1.2525;
      font-family: Orbitron, 'Source Sans Pro';
      letter-spacing: 0.648rem;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 7.05rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .jupiter-3UD {
      font-weight: 700;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.55rem;
      cursor: pointer;
      font-size: 1.2rem;
      color: #ffffff;
      text-align: center;
      line-height: 1.2525;
      letter-spacing: 0.648rem;
    }
    .mars-kdX {
      letter-spacing: 0.648rem;
      white-space: nowrap;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2525;
    }
  }
  .auto-group-zegd-UJd {
    margin-right: 4.6rem;
    width: calc(100% - 4.6rem);
    height: 12.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-nxqq-Qi5 {
      position: relative;
      flex-shrink: 0;
      margin: 0.1rem 0.1rem 0.2rem 0rem;
      width: 27.3rem;
      height: calc(100% - 0.3rem);

      .front-3-1-jEZ {
        object-fit: cover;
        vertical-align: top;
        width: 13.6rem;
        height: 12.2rem;
        position: absolute;
        left: 13.7rem;
        top: 0.1rem;
      }
      .front-7-1-ecR {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 14.5rem;
        height: 12.2rem;
        position: absolute;
      }
      .group-12-zgH {
        width: 11.6954rem;
        top: 0.2rem;
        border: solid 0.2rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        height: 11.4937rem;
        position: absolute;
        left: 0.9rem;
        box-sizing: border-box;
        border-radius: 2.1rem;

        .rectangle-12-8Gh {
          height: 11.4937rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          width: 100%;
        }
      }
      .group-14-nc9 {
        width: 11.6954rem;
        height: 11.4937rem;
        cursor: pointer;
        position: absolute;
        border-radius: 2.1rem;
        left: 15.2343rem;
        top: 0.387rem;
        border: solid 0.2rem #9e00ff;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;

        .rectangle-12-WHF {
          border-radius: 2.1rem;
          width: 100%;
          height: 11.4937rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
        }
      }
    }
    .auto-group-vdcy-kxH {
      width: 29.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .front-4-1-Vus {
        height: 12.4rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 15.9rem;
      }
      .front-5-1-3Ah {
        object-fit: cover;
        vertical-align: top;
        width: 15.2rem;
        height: 12.6rem;
        position: absolute;
        left: 14.7rem;
        top: 0;
      }
      .group-15-aAd {
        height: 11.4937rem;
        left: 2.2423rem;
        box-sizing: border-box;
        width: 11.6954rem;
        top: 0.487rem;
        border: solid 0.2rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 2.1rem;
        position: absolute;

        .rectangle-12-7AZ {
          width: 100%;
          height: 11.4937rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
        }
      }
      .group-16-kUR {
        width: 11.6954rem;
        position: absolute;
        top: 0.487rem;
        border: solid 0.2rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        height: 11.4937rem;
        left: 16.166rem;
        box-sizing: border-box;
        border-radius: 2.1rem;

        .rectangle-12-HUM {
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          width: 100%;
          height: 11.4937rem;
          border: solid 0.2rem #9e00ff;
        }
      }
    }
  }
}
