
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82.4rem;
}.android-large-5-XsX {
  background-size: 100% 100%;
  background-position: center;
  padding: 2.4rem 1.5rem 1.4rem 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:2bb2dbed4fdd6f419cd90d91646ad7fb32cbbb1c');
  background-color: #ffffff;

  .choose-your-planet-Rxu {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    flex-shrink: 0;
    white-space: nowrap;
    margin-bottom: 1.8rem;
    width: 100%;
    line-height: 1.25;
    letter-spacing: 0.61rem;
    color: #ffffff;
    font-family: Oxanium, 'Source Sans Pro';
  }
  .auto-group-qbmo-vuf {
    margin: 0rem 9.5rem 0.7rem 3.6rem;
    width: calc(100% - 13.1rem);
    height: 13.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-1cnh-e4y {
      width: 18rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-hygm-ajK {
        box-sizing: border-box;
        padding: 0.092rem 2.213rem 0.092rem 2.31rem;
        width: 100%;
        height: 11.8rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        background-image: url('REPLACE_IMAGE:dda445465aaedfcba4952e8ff73d517b16177405');

        .group-8-7DT {
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          margin-bottom: 0.2288rem;
          width: 100%;
          height: 11.3875rem;
          cursor: pointer;
          border: solid 0.2rem #9e00ff;

          .rectangle-12-rB3 {
            width: 100%;
            height: 11.3875rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
          }
        }
      }
      .mercury-esb {
        font-size: 1.2rem;
        line-height: 1.2525;
        letter-spacing: 0.648rem;
        color: #ffffff;
        margin-right: 0.8rem;
        text-align: center;
        font-weight: 700;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-1xwb-MX7 {
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.092rem 0rem 0rem 0.5rem;

      .auto-group-14po-Gty {
        flex-shrink: 0;
        margin-right: 1rem;
        width: 13.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-romp-otu {
          margin-bottom: 0.2rem;
          width: 100%;
          height: 11.5082rem;
          position: relative;
          flex-shrink: 0;

          .front-1-1-MfX {
            object-fit: cover;
            vertical-align: top;
            width: 13.8rem;
            height: 11.4rem;
            position: absolute;
            left: 0;
            top: 0.1082rem;
          }
          .group-9-gC1 {
            left: 0.1745rem;
            box-sizing: border-box;
            border-radius: 2.1rem;
            position: absolute;
            height: 11.3875rem;
            top: 0;
            border: solid 0.2rem #9e00ff;
            box-shadow: 0 0 1rem #9e00ff;
            width: 13.4765rem;

            .rectangle-12-Cg9 {
              border: solid 0.2rem #9e00ff;
              box-sizing: border-box;
              box-shadow: 0 0 1rem #9e00ff;
              border-radius: 2.1rem;
              width: 100%;
              height: 11.3875rem;
            }
          }
        }
        .jupiter-SKb {
          line-height: 1.2525;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 700;
          margin-left: 0.1rem;
          text-align: center;
          letter-spacing: 0.648rem;
        }
      }
      .auto-group-kuqr-wn9 {
        position: relative;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 15.5rem;
        height: 100%;

        .front-2-1-Hr1 {
          top: 0.1082rem;
          object-fit: cover;
          vertical-align: top;
          width: 15.5rem;
          height: 11.7rem;
          cursor: pointer;
          position: absolute;
          left: 0;
        }
        .group-10-Djf {
          box-sizing: border-box;
          height: 11.3875rem;
          left: 1.2575rem;
          top: 0;
          border: solid 0.2rem #9e00ff;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          width: 12.9951rem;
          position: absolute;

          .rectangle-12-kUh {
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
            width: 100%;
            height: 11.3875rem;
            border: solid 0.2rem #9e00ff;
          }
        }
        .mars-nwB {
          position: absolute;
          left: 4.4rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2525;
          color: #ffffff;
          white-space: nowrap;
          height: 1.6rem;
          top: 11.7082rem;
          font-size: 1.2rem;
          letter-spacing: 0.648rem;
          font-family: Orbitron, 'Source Sans Pro';
          width: 6rem;
        }
      }
      .auto-group-pdg1-5vH {
        margin-top: 0.0082rem;
        width: 15.2rem;
        height: calc(100% - 0.0082rem);
        position: relative;
        flex-shrink: 0;

        .front-5-2-1ow {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 15.2rem;
          height: 12.6rem;
        }
        .group-16-MN1 {
          border-radius: 2.1rem;
          height: 11.4937rem;
          position: absolute;
          left: 1.2rem;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          width: 11.6954rem;
          cursor: pointer;
          top: 0.3rem;
          border: solid 0.2rem #9e00ff;

          .rectangle-12-UhX {
            width: 100%;
            height: 11.4937rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
          }
        }
        .uranus-7Vb {
          line-height: 1.2525;
          color: #ffffff;
          white-space: nowrap;
          width: 8.9rem;
          height: 1.6rem;
          position: absolute;
          top: 11.7rem;
          font-size: 1.2rem;
          left: 3.45rem;
          text-align: center;
          font-weight: 700;
          letter-spacing: 0.648rem;
          font-family: Orbitron, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-pjjp-nrd {
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 1.2rem;
    height: 13.8rem;
    display: flex;

    .group-32-WXj {
      font-size: 1.4rem;
      line-height: 1.2525;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 10.6rem;
      height: 2.4rem;
      justify-content: center;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      margin: 0rem 2.8rem 0.4rem 0rem;
      cursor: pointer;
      color: #ffffff;
      display: flex;
      flex-shrink: 0;
      font-weight: 700;
      letter-spacing: 0.756rem;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      box-sizing: border-box;
    }
    .auto-group-aab7-G9X {
      width: 14.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-bjcu-Pjw {
        background-position: center;
        background-image: url('REPLACE_IMAGE:bb58eb94dc2710e2d19823174bc64dcedc59e943');
        box-sizing: border-box;
        width: 100%;
        height: 12.2rem;
        background-repeat: no-repeat;
        padding: 0.2rem 0.9rem;
        background-size: 100% 100%;
        flex-shrink: 0;

        .group-12-7A9 {
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          margin: 0rem 1.005rem 0.306rem 0rem;
          width: 11.6954rem;
          height: 11.4937rem;

          .rectangle-12-zDw {
            width: 100%;
            height: 11.4937rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
          }
        }
      }
      .venus-ybf {
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.4rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.648rem;
      }
    }
    .auto-group-sqwm-HsF {
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.1rem 0rem 0rem 0.9rem;
      height: 100%;
      display: flex;

      .auto-group-3duy-oqb {
        margin-right: 1.3rem;
        width: 13.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .front-3-1-MMK {
          height: 12.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 13.6rem;
        }
        .group-14-guP {
          width: 11.6954rem;
          left: 1.5343rem;
          box-sizing: border-box;
          top: 0.287rem;
          border: solid 0.2rem #9e00ff;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          height: 11.4937rem;
          cursor: pointer;
          position: absolute;

          .rectangle-12-co3 {
            border-radius: 2.1rem;
            width: 100%;
            height: 11.4937rem;
            border: solid 0.2rem #9e00ff;
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
          }
        }
        .neptune-F5K {
          top: 12.1rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.2525;
          color: #ffffff;
          white-space: nowrap;
          width: 10.2rem;
          left: 2rem;
          text-align: center;
          letter-spacing: 0.648rem;
          font-family: Orbitron, 'Source Sans Pro';
          height: 1.6rem;
          position: absolute;
        }
      }
      .auto-group-kjid-WX3 {
        width: 15.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.3rem;

        .front-4-1-SvV {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 15.9rem;
          height: 12.4rem;
        }
        .group-15-Paq {
          position: absolute;
          left: 2.2423rem;
          border: solid 0.2rem #9e00ff;
          box-sizing: border-box;
          height: 11.4937rem;
          top: 0.287rem;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 2.1rem;
          width: 11.6954rem;

          .rectangle-12-uZB {
            box-sizing: border-box;
            box-shadow: 0 0 1rem #9e00ff;
            border-radius: 2.1rem;
            width: 100%;
            height: 11.4937rem;
            border: solid 0.2rem #9e00ff;
          }
        }
        .pluto-Mvy {
          position: absolute;
          left: 4.6rem;
          text-align: center;
          font-size: 1.2rem;
          line-height: 1.2525;
          white-space: nowrap;
          font-family: Orbitron, 'Source Sans Pro';
          width: 6.8rem;
          height: 1.6rem;
          top: 12.1rem;
          font-weight: 700;
          letter-spacing: 0.648rem;
          color: #ffffff;
        }
      }
      .group-33-4aV {
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 11.6085rem;
        height: 2.4rem;
        cursor: pointer;
        position: relative;

        .rectangle-7-oHB {
          top: 0;
          border-radius: 1.2rem;
          height: 2.4rem;
          position: absolute;
          left: 0;
          border: solid 0.3rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          width: 10.2468rem;
        }
        .rectangle-10-WhP {
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          background-color: rgba(46, 53, 218, 0.3000000119);
          border-radius: 1.2rem;
          border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
          width: 10.2468rem;
          height: 2.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .home-Qnm {
          white-space: nowrap;
          height: 1.8rem;
          left: 1.6rem;
          top: 0.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.756rem;
          font-family: Orbitron, 'Source Sans Pro';
          width: 7.5rem;
          position: absolute;
          font-size: 1.4rem;
          color: #ffffff;
        }
      }
    }
  }
}
