
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.android-large-8-1iq {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:589df901d5b167d381fab47fe6d2b137bcfc985a');
  box-sizing: border-box;
  padding-bottom: 2.3rem;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #ffffff;

  .auto-group-evev-M21 {
    width: 156.3rem;
    height: 42.6rem;
    position: relative;
    flex-shrink: 0;

    .group-62-fYV {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 2.8rem;
      position: absolute;
      left: 0;
      width: 19.4344rem;
      top: 2.6rem;
      background-image: url('REPLACE_IMAGE:710:71');

      .rectangle-44-1MT {
        width: 19.4344rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-26-vjK {
      object-fit: contain;
      vertical-align: top;
      border-radius: 2.2rem;
      width: 14.6966rem;
      height: 2.3rem;
      position: absolute;
      left: 4.6637rem;
      top: 9.1rem;
    }
    .packages-4DF {
      color: #ffffff;
      font-family: Oxanium, 'Source Sans Pro';
      width: 16rem;
      position: absolute;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.918rem;
      height: 2.2rem;
      left: 0.6rem;
      top: 3.1rem;
      white-space: nowrap;
    }
    .steller-sojorn-adventure-jKP {
      position: absolute;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.2525;
      font-family: Orbitron, 'Source Sans Pro';
      height: 2.8rem;
      left: 6.4rem;
      top: 9.5rem;
      letter-spacing: 0.22rem;
      color: #ffffff;
      width: 11.5rem;
    }
    .moon-walk-mars-astoreid-mining-dQm {
      line-height: 1.2525;
      letter-spacing: 0.22rem;
      color: #ffffff;
      height: 4.2rem;
      position: absolute;
      left: 5.3rem;
      top: 15.3rem;
      text-align: center;
      font-family: Orbitron, 'Source Sans Pro';
      width: 13.3rem;
      font-size: 1.1rem;
      font-weight: 600;
    }
    .vector-80-753 {
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
      left: 4.8rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-81-S7K {
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
      left: 4.8rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-26-yN9 {
      width: 14.6966rem;
      height: 2.3rem;
      position: absolute;
      left: 22.6637rem;
      top: 9.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 2.2rem;
    }
    .aphrodite-terra-J9X {
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.22rem;
      font-family: Orbitron, 'Source Sans Pro';
      width: 13.7rem;
      height: 1.4rem;
      position: absolute;
      color: #ffffff;
      white-space: nowrap;
      left: 23.3rem;
      top: 9.5rem;
      text-align: center;
    }
    .vector-80-QCZ {
      vertical-align: top;
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
      left: 22.8rem;
      top: 11.1rem;
      object-fit: contain;
    }
    .vector-81-vRo {
      object-fit: contain;
      vertical-align: top;
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
      left: 22.8rem;
      top: 11.1rem;
    }
    .venus-261-million-kilometers-highland-region-raM {
      width: 15rem;
      height: 10.3rem;
      position: absolute;
      left: 24rem;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.9616507229;
      color: #ffffff;
      top: 12.6rem;
      letter-spacing: 0.208rem;
      font-family: Orbitron, 'Source Sans Pro';
    }
    .group-26-Eqo {
      height: 2.3rem;
      position: absolute;
      left: 40.6637rem;
      top: 9.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 2.2rem;
      width: 14.6966rem;
    }
    .olympus-mons-AjT {
      top: 9.4rem;
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.22rem;
      white-space: nowrap;
      height: 1.4rem;
      left: 42.35rem;
      text-align: center;
      font-size: 1.1rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      width: 11.6rem;
      position: absolute;
    }
    .vector-80-RvH {
      height: 16.1rem;
      position: absolute;
      left: 40.8rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 15.8rem;
    }
    .vector-81-Yk1 {
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
      left: 40.8rem;
    }
    .mars-54-million-kilometers-shield-volcano-tYy {
      font-weight: 700;
      letter-spacing: 0.208rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      width: 14.3rem;
      height: 10.3rem;
      position: absolute;
      font-size: 1.3rem;
      left: 42rem;
      top: 12.6rem;
      line-height: 1.9616507229;
    }
    .group-26-mcm {
      left: 58.6637rem;
      top: 9.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 2.2rem;
      width: 14.6966rem;
      height: 2.3rem;
      position: absolute;
    }
    .great-red-spot-6Q9 {
      top: 9.5rem;
      height: 1.4rem;
      left: 59.9rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.22rem;
      color: #ffffff;
      width: 12.5rem;
      position: absolute;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-80-nnm {
      left: 58.8rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
    }
    .vector-81-jT7 {
      left: 58.8rem;
      top: 11.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 15.8rem;
      height: 16.1rem;
      position: absolute;
    }
    .jupiter-968-million-kilometers-anticyclonic-storm-51B {
      line-height: 1.9616507229;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.208rem;
      width: 18.1rem;
      height: 10.3rem;
      position: absolute;
      left: 60rem;
      top: 12.6rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
    }
  }
  .auto-group-gz7s-x4y {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.1rem 0rem 2rem;
    width: calc(100% - 4.1rem);
    height: 2.4rem;
    display: flex;

    .auto-group-hhzf-fEH {
      color: #ffffff;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 10.2468rem;
      font-weight: 700;
      white-space: nowrap;
      align-items: center;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      margin-right: 55.0532rem;
      line-height: 1.2525;
      justify-content: center;
      flex-shrink: 0;
      letter-spacing: 0.756rem;
      display: flex;
      font-family: Orbitron, 'Source Sans Pro';
      border-radius: 1.2rem;
      height: 100%;
      font-size: 1.4rem;
    }
    .group-61-41X {
      flex-shrink: 0;
      font-size: 1.4rem;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 1.2rem;
      background-color: rgba(46, 53, 218, 0.3000000119);
      letter-spacing: 0.756rem;
      box-shadow: 0 0 1rem #9e00ff;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      width: 10.6rem;
      height: 100%;
      line-height: 1.2525;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      font-weight: 700;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }
}
