
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.assistant-Mvh {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 36rem;
  overflow: hidden;

  .auto-group-jqyf-WYh {
    width: 82.9rem;
    height: 100%;
    position: relative;

    .group-43-G25 {
      background-image: url('REPLACE_IMAGE:108:9');
      height: 36rem;
      left: 0;
      top: 0;
      background-size: cover;
      width: 80rem;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;

      .group-41-ySH {
        top: 7.1rem;
        border-radius: 1.2rem;
        width: 17.2rem;
        height: 2.2rem;
        cursor: pointer;
        position: absolute;
        left: 62rem;

        .rectangle-7-JUZ {
          position: absolute;
          border: solid 0.3rem #9e00ff;
          left: 0;
          top: 0;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 1.2rem;
          width: 16.7rem;
          height: 2.2rem;
        }
        .rectangle-10-D5j {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 1.2rem;
          width: 16.7rem;
          height: 2.2rem;
          position: absolute;
        }
        .customize-Lw3 {
          height: 1.8rem;
          position: absolute;
          font-size: 1.4rem;
          font-family: Orbitron, 'Source Sans Pro';
          letter-spacing: 0.756rem;
          color: #ffffff;
          white-space: nowrap;
          width: 15.1rem;
          left: 1.3rem;
          top: 0.2rem;
          font-weight: 700;
          line-height: 1.2525;
        }
      }
      .group-54-pbK {
        top: 31.6rem;
        border-radius: 1.2rem;
        width: 16.8rem;
        height: 2.2rem;
        cursor: pointer;
        position: absolute;
        left: 31.1rem;

        .rectangle-7-kE5 {
          height: 2.2rem;
          position: absolute;
          border: solid 0.3rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          width: 16.7rem;
          left: 0;
          top: 0;
          border-radius: 1.2rem;
        }
        .rectangle-10-3DB {
          object-fit: contain;
          vertical-align: top;
          border-radius: 1.2rem;
          width: 16.7rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .space-suit-aD7 {
          top: 0.3rem;
          font-weight: 700;
          width: 16rem;
          position: absolute;
          left: 0.8rem;
          font-size: 1.4rem;
          line-height: 1.2525;
          letter-spacing: 0.756rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          height: 1.8rem;
          white-space: nowrap;
        }
      }
      .rectangle-7-TGu {
        border: solid 0.3rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 1.2rem;
        position: absolute;
        top: 11.3rem;
        left: 62rem;
        box-sizing: border-box;
        width: 16.4rem;
        height: 2rem;
      }
      .rectangle-10-MdB {
        border-radius: 1.2rem;
        width: 16.4rem;
        height: 2rem;
        position: absolute;
        left: 62rem;
        top: 11.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .book-gQZ {
        white-space: nowrap;
        width: 7.3rem;
        position: absolute;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        height: 1.8rem;
        cursor: pointer;
        left: 67.7303rem;
        top: 11.4rem;
        letter-spacing: 0.56rem;
      }
      .group-52-y8m {
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        box-shadow: 0 0 1rem #9e00ff;
        position: absolute;
        top: 31.4rem;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 1.2rem;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        box-sizing: border-box;
        width: 10.6rem;
        justify-content: center;
        align-items: center;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        background-color: rgba(46, 53, 218, 0.3000000119);
        height: 2.4rem;
        left: 68.1rem;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
      }
      .group-53-MQD {
        left: 2.8rem;
        top: 31.4rem;
        border-radius: 1.2rem;
        width: 11.6085rem;
        height: 2.4rem;
        cursor: pointer;
        position: absolute;

        .rectangle-7-H2y {
          height: 2.4rem;
          left: 0;
          top: 0;
          width: 10.2468rem;
          position: absolute;
          border: solid 0.3rem #9e00ff;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          border-radius: 1.2rem;
        }
        .rectangle-10-bJZ {
          background-color: rgba(46, 53, 218, 0.3000000119);
          border-radius: 1.2rem;
          width: 10.2468rem;
          height: 2.4rem;
          left: 0;
          top: 0;
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          position: absolute;
          border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        }
        .home-tYZ {
          font-family: Orbitron, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
          top: 0.3rem;
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.2525;
          letter-spacing: 0.756rem;
          color: #ffffff;
          width: 7.5rem;
          position: absolute;
          left: 1.6rem;
        }
      }
      .need-help-ask-ai-PER {
        font-size: 1.4rem;
        font-weight: 700;
        font-family: Orbitron, 'Source Sans Pro';
        width: 13.4rem;
        height: 1.8rem;
        position: absolute;
        left: 64.8rem;
        top: 26.7rem;
        line-height: 1.2525;
        color: #ffffff;
        white-space: nowrap;
      }
      .chatbot-gjK {
        height: 6.6rem;
        position: absolute;
        left: 66.9rem;
        top: 20.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 10rem;
      }
      .group-55-QvD {
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        width: 1.4rem;
        height: 1.2rem;
        position: absolute;
        left: 17.6rem;
        top: 9rem;

        .rectangle-10-YmX {
          box-shadow: 0 0 1rem #9e00ff;
          background-color: rgba(46, 53, 218, 0.3000000119);
          width: 100%;
          height: 1.2rem;
          border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
          box-sizing: border-box;
        }
      }
      .vector-2-3TP {
        left: 19.3rem;
        top: 9.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.4rem;
        height: 0;
        position: absolute;
      }
      .vector-3-NVf {
        position: absolute;
        left: 19.3rem;
        top: 9.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.4rem;
        height: 0;
      }
      .group-89-v1P {
        left: 21.8rem;
        top: 6rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 35.7rem;
        height: 9.8rem;
        position: absolute;
      }
      .group-90-RTw {
        width: 1.4rem;
        height: 1.2rem;
        position: absolute;
        left: 12.1rem;
        top: 21.8rem;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;

        .rectangle-10-xCy {
          width: 100%;
          height: 1.2rem;
          border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          background-color: rgba(46, 53, 218, 0.3000000119);
        }
      }
      .vector-4-FSy {
        position: absolute;
        left: 13.8rem;
        top: 22.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.4rem;
        height: 0;
      }
      .vector-5-bFw {
        top: 22.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.4rem;
        height: 0;
        position: absolute;
        left: 13.8rem;
      }
      .group-91-92Z {
        top: 18.2rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 35.4rem;
        height: 9.8rem;
        position: absolute;
        left: 16.6rem;
      }
      .day-107-hours-year-29-earth-years-planet-type-gas-giant-moons-83-environment-ringed-stormy-gaseous-49X {
        height: 9.1rem;
        top: 6.3rem;
        font-size: 1.2rem;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        width: 21.8rem;
        position: absolute;
        left: 27rem;
        font-weight: 600;
        letter-spacing: 0.048rem;
      }
      .best-places-in-staurn-rings-of-saturn-titan-enceladus-rhea-dione-Uyw {
        position: absolute;
        top: 18.7rem;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        width: 14.7rem;
        height: 10.6rem;
        left: 25.8rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .group-43-LWM {
      left: 62rem;
      top: 3rem;
      border-radius: 1.2rem;
      width: 18.7rem;
      height: 2.2rem;
      cursor: pointer;
      position: absolute;

      .rectangle-7-g4R {
        width: 16.7rem;
        position: absolute;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
        border-radius: 1.2rem;
        height: 2.2rem;
        left: 0;
        top: 0;
        box-shadow: 0 0 1rem #9e00ff;
      }
      .rectangle-10-n7T {
        vertical-align: top;
        border-radius: 1.2rem;
        width: 16.7rem;
        height: 2.2rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
      .dangers-X53 {
        height: 1.8rem;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        white-space: nowrap;
        width: 12.8rem;
        position: absolute;
        left: 2.8rem;
        top: 0.1rem;
        font-size: 1.4rem;
        letter-spacing: 0.756rem;
        font-family: Orbitron, 'Source Sans Pro';
      }
    }
    .group-52-1F7 {
      width: 16.6rem;
      top: 1.8rem;
      text-transform: uppercase;
      white-space: nowrap;
      border-radius: 0.7rem;
      height: 2.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      padding: 0.2rem 0.5rem 0.1rem 3.1rem;
      position: absolute;
      left: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      box-sizing: border-box;
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.864rem;
      font-family: Orbitron, 'Source Sans Pro';
    }
  }
}
