
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 193.5rem;
}.astroglide-MLV {
  letter-spacing: 8.1rem;
  color: #000000;
  white-space: nowrap;
  height: 18.8rem;
  line-height: 1.2525;
  font-weight: 900;
  font-family: Orbitron, 'Source Sans Pro';
  width: 100%;
  font-size: 15rem;
}
