
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.calculator-3-iKj {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:4e95ea01ca3dc1b4abdbc07b5d7eaa79b209b531');
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-color: #ffffff;

  .group-85-rB3 {
    padding: 0 1.3rem;
    left: 23.6rem;
    letter-spacing: 0.18rem;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    line-height: 1.2525;
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 32.9rem;
    top: 2.2rem;
    font-family: Orbitron, 'Source Sans Pro';
    border-radius: 0.7rem;
    height: 2.4rem;
    font-weight: 700;
    color: #ffffff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    font-size: 1.8rem;
  }
  .group-86-d5K {
    height: 4.1rem;
    position: absolute;
    top: 8.8rem;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    width: 37.3rem;
    left: 17.8rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);

    .rectangle-7-k9w {
      left: 1.3rem;
      position: absolute;
      top: 0.9rem;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 0.7rem;
      width: 10.9rem;
      height: 2.4rem;
    }
    .earth-Eqo {
      left: 1.7rem;
      top: 1.4rem;
      font-size: 1.1rem;
      line-height: 1.2525;
      letter-spacing: 0.594rem;
      width: 6.4rem;
      height: 1.4rem;
      position: absolute;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      color: #ffffff;
    }
    .rectangle-52-jnZ {
      object-fit: contain;
      vertical-align: top;
      width: 3.2rem;
      height: 2.6rem;
      position: absolute;
      left: 9rem;
      top: 0.9rem;
    }
    .chevron-down-UEM {
      height: 1.9rem;
      cursor: pointer;
      position: absolute;
      left: 9.8rem;
      top: 1.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9rem;
    }
  }
  .group-87-7HK {
    width: 37.3rem;
    position: absolute;
    top: 16.1rem;
    display: flex;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    box-sizing: border-box;
    padding: 0.1rem 0.55rem 1.3rem 0.55rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    align-items: center;
    flex-direction: column;
    height: 8rem;
    left: 17.8rem;

    .auto-group-buph-Nj3 {
      flex-shrink: 0;
      margin: 0rem 6.6rem 0.3rem 9.4rem;
      width: calc(100% - 16rem);
      display: flex;
      align-items: center;

      .latitude-thP {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        margin: 0.1rem 7.1rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.11rem;
      }
      .longitude-zEd {
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0.11rem;
        color: #ffffff;
        margin-bottom: 0.1rem;
        font-weight: 700;
        line-height: 1.2525;
      }
    }
    .auto-group-7rnd-tqo {
      margin: 0rem 4.55rem 1.1rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .point-1-E8y {
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.55rem 0.1rem 0rem;
        font-weight: 700;
        letter-spacing: 0.11rem;
        color: #ffffff;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.2525;
      }
      .auto-group-yleh-v1o {
        letter-spacing: 0.12rem;
        border: solid 0.3rem #9e00ff;
        width: 10.9rem;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        font-size: 1.2rem;
        box-shadow: 0 0 1rem #9e00ff;
        flex-shrink: 0;
        margin-right: 2.6rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        height: 1.8rem;
      }
      .auto-group-ltw7-M77 {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        font-size: 1.2rem;
        letter-spacing: 0.12rem;
        align-items: center;
        border: solid 0.3rem #9e00ff;
        text-align: center;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.9rem;
        height: 1.8rem;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        margin-bottom: 0.1rem;
      }
    }
    .auto-group-mcwo-zA5 {
      align-items: center;
      flex-shrink: 0;
      margin-right: 4.55rem;
      height: 1.8rem;
      display: flex;

      .point-2-j7f {
        margin-right: 2.05rem;
        text-align: center;
        font-size: 1.1rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.11rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
      }
      .auto-group-ikmx-rCH {
        font-weight: 700;
        text-align: center;
        font-size: 1.2rem;
        box-sizing: border-box;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        border: solid 0.3rem #9e00ff;
        line-height: 1.2525;
        font-family: Orbitron, 'Source Sans Pro';
        height: 100%;
        letter-spacing: 0.12rem;
        white-space: nowrap;
        display: flex;
        box-shadow: 0 0 1rem #9e00ff;
        flex-shrink: 0;
        margin-right: 2.6rem;
        width: 10.9rem;
      }
      .auto-group-cgmb-vT3 {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        line-height: 1.2525;
        font-size: 1.2rem;
        box-shadow: 0 0 1rem #9e00ff;
        width: 10.9rem;
        text-align: center;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
        height: 100%;
        letter-spacing: 0.12rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        font-weight: 700;
      }
    }
  }
  .planet-v5f {
    position: absolute;
    top: 6.4rem;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    font-family: Orbitron, 'Source Sans Pro';
    width: 5.1rem;
    left: 17.65rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2525;
    color: #ffffff;
    white-space: nowrap;
    height: 1.6rem;
  }
  .auto-group-ne21-bxV {
    display: flex;
    align-items: center;
    width: 10.6rem;
    height: 2.6rem;
    position: absolute;
    left: 17.9rem;
    top: 26.8rem;

    .round-8Bj {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.35rem;
      width: 2.6rem;
      height: 2.6rem;
    }
    .mi-fBf {
      font-weight: 700;
      line-height: 1.2525;
      flex-shrink: 0;
      margin: 0rem 1.05rem 0.2rem 0rem;
      text-align: center;
      font-size: 1.1rem;
      white-space: nowrap;
      letter-spacing: 0.11rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
    }
    .auto-group-z7lh-NLy {
      padding: 0.5rem;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 0.3rem;
      box-sizing: border-box;
      background-image: url('REPLACE_IMAGE:3e4d4c35ea5775f8668cddbf707961448e4b5440');
      flex-shrink: 0;

      .item-100-KGD {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .km-Ra9 {
      white-space: nowrap;
      font-family: Orbitron, 'Source Sans Pro';
      margin-bottom: 0.2rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.11rem;
      color: #ffffff;
      flex-shrink: 0;
    }
  }
  .display-distances-in-w2h {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2525;
    letter-spacing: 0.12rem;
    white-space: nowrap;
    width: 16.8rem;
    height: 1.6rem;
    left: 17.6rem;
    top: 25rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .point-coordinates-ced {
    font-size: 1.2rem;
    line-height: 1.2525;
    letter-spacing: 0.12rem;
    white-space: nowrap;
    height: 1.6rem;
    left: 17.45rem;
    top: 13.7rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    width: 14.1rem;
    position: absolute;
    text-align: center;
  }
  .auto-group-cr6v-KJ9 {
    height: 2.4rem;
    position: absolute;
    left: 18.4rem;
    top: 31.7rem;
    display: flex;
    align-items: flex-start;
    width: 56.5rem;

    .auto-group-sv3f-3V3 {
      margin-right: 4.2rem;
      width: 6.9rem;
      height: 1.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-15-azm {
        cursor: pointer;
        left: 0;
        border: solid 0.3rem #9e00ff;
        border-radius: 0.7rem;
        width: 6.9rem;
        height: 1.4rem;
        position: absolute;
        top: 0.1rem;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
      }
      .submit-6CR {
        left: 0.95rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2525;
        font-family: Orbitron, 'Source Sans Pro';
        height: 1.4rem;
        position: absolute;
        font-size: 1.1rem;
        letter-spacing: 0.11rem;
        color: #ffffff;
        white-space: nowrap;
        width: 4.9rem;
        top: 0;
      }
    }
    .auto-group-3u4m-nqw {
      height: 1.5rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 30rem;
      width: 6.9rem;

      .rectangle-16-L6m {
        top: 0.1rem;
        border: solid 0.3rem #9e00ff;
        border-radius: 0.7rem;
        position: absolute;
        left: 0;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        width: 6.9rem;
        height: 1.4rem;
      }
      .reset-RP7 {
        position: absolute;
        left: 1.35rem;
        font-size: 1.1rem;
        line-height: 1.2525;
        letter-spacing: 0.11rem;
        color: #ffffff;
        width: 4.2rem;
        height: 1.4rem;
        top: 0;
        text-align: center;
        font-weight: 700;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-mreu-8HX {
      width: 8.5rem;
      height: 1.8rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 0.6rem;

      .rectangle-53-sW1 {
        width: 8.5rem;
        cursor: pointer;
        top: 0.1rem;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 0.7rem;
        height: 1.6rem;
        position: absolute;
        left: 0;
        border: solid 0.3rem #9e00ff;
      }
      .back-PUM {
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        left: 1.9rem;
        top: 0;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.14rem;
        width: 4.5rem;
        height: 1.8rem;
        position: absolute;
        font-weight: 700;
      }
    }
  }
}
