
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.calculator-6-zG9 {
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  background-image: url('REPLACE_IMAGE:4e95ea01ca3dc1b4abdbc07b5d7eaa79b209b531');
  padding: 2.2rem 1.9rem 1.9rem 2.6rem;
  width: 100%;
  overflow: hidden;

  .group-85-Jnd {
    font-size: 1.8rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 2.4rem;
    letter-spacing: 0.18rem;
    color: #ffffff;
    margin: 0rem 21.6rem 4.2rem 21rem;
    width: calc(100% - 42.6rem);
    font-weight: 700;
    border-radius: 0.7rem;
    padding: 0 1.3rem;
    text-align: center;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .the-distance-between-these-points-is-73668-km-rxZ {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.16rem;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.6rem 0.7rem 0rem;
    line-height: 1.2525;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .draw-1-wz1 {
    height: 19.3rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0.7rem 0.9rem 0rem;
    width: 38.6rem;
  }
  .auto-group-vphb-scm {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-hwd7-2Em {
      margin: 0rem 60.5rem 0.4rem 0rem;
      width: 7.1rem;
      height: 1.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-15-94V {
        box-shadow: 0 0 1rem #9e00ff;
        width: 7.1rem;
        cursor: pointer;
        position: absolute;
        top: 0.1rem;
        border-radius: 0.7rem;
        height: 1.8rem;
        left: 0;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
      }
      .home-3ff {
        font-family: Orbitron, 'Source Sans Pro';
        width: 5.1rem;
        left: 0.9rem;
        top: 0;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        height: 1.8rem;
        position: absolute;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.14rem;
        white-space: nowrap;
      }
    }
    .auto-group-u6w1-vzM {
      position: relative;
      flex-shrink: 0;
      width: 7.9rem;
      height: 1.8rem;

      .rectangle-16-sub {
        cursor: pointer;
        position: absolute;
        top: 0.1rem;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 0.7rem;
        width: 7.9rem;
        height: 1.6rem;
        left: 0;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
      }
      .back-ap1 {
        height: 1.8rem;
        position: absolute;
        left: 1.7rem;
        top: 0;
        font-weight: 700;
        line-height: 1.2525;
        color: #ffffff;
        width: 4.5rem;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.14rem;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
