
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.cart-page-bEy {
  background-image: url('REPLACE_IMAGE:589df901d5b167d381fab47fe6d2b137bcfc985a');
  background-color: #ffffff;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  flex-direction: column;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 2.9rem 0rem 2.4rem 0rem;
  overflow: hidden;
  position: relative;

  .auto-group-7xbw-h37 {
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 23.9rem;
    height: 2.5rem;

    .auto-group-duah-EHw {
      width: 12.4rem;
      height: 100%;
      position: relative;

      .group-104-nKT {
        width: 12.4rem;
        position: absolute;
        top: 0;
        border: solid 0.3rem #9e00ff;
        box-sizing: border-box;
        height: 2.4rem;
        left: 0;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 0.7rem;

        .rectangle-10-XH3 {
          border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
          box-sizing: border-box;
          box-shadow: 0 0 1rem #9e00ff;
          background-color: rgba(46, 53, 218, 0.3000000119);
          border-radius: 0.7rem;
          width: 100%;
          height: 2.4rem;
        }
      }
      .cart-AL1 {
        left: 1.5rem;
        top: 0.3rem;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        width: 7.1rem;
        height: 2.2rem;
        position: absolute;
        letter-spacing: 0.918rem;
        font-family: Oxanium, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-bknh-4AV {
    display: flex;
    column-gap: 16.95rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 15.2rem 4.6rem;
    height: 1rem;

    .group-104-kp1 {
      box-shadow: 0 0 1rem #9e00ff;
      flex-shrink: 0;
      width: 1.15rem;
      height: 100%;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;

      .rectangle-10-hjF {
        width: 100%;
        height: 1rem;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        background-color: rgba(46, 53, 218, 0.3000000119);
      }
    }
    .group-105-bpd {
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      flex-shrink: 0;
      width: 1.15rem;
      height: 100%;
      border: solid 0.3rem #9e00ff;

      .rectangle-10-ZFf {
        width: 100%;
        height: 1rem;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        background-color: rgba(46, 53, 218, 0.3000000119);
      }
    }
    .group-106-3gd {
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      flex-shrink: 0;
      width: 1.15rem;
      height: 100%;
      border: solid 0.3rem #9e00ff;

      .rectangle-10-ofo {
        width: 100%;
        height: 1rem;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        background-color: rgba(46, 53, 218, 0.3000000119);
      }
    }
    .group-107-uiq {
      width: 1.15rem;
      height: 100%;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      flex-shrink: 0;

      .rectangle-10-UG9 {
        width: 100%;
        height: 1rem;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        background-color: rgba(46, 53, 218, 0.3000000119);
      }
    }
  }
  .total-598-space-coin-mFF {
    line-height: 1.2525;
    letter-spacing: 0.756rem;
    color: #ffffff;
    white-space: nowrap;
    margin: 0rem 0rem 2.6rem 24.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Orbitron, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-upgz-Fw7 {
    width: calc(100% - 4.6rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0 2.3rem;

    .group-105-nw3 {
      width: 11.6085rem;
      height: 2.4rem;
      position: relative;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 17.1915rem;

      .rectangle-7-LBs {
        border-radius: 1.2rem;
        height: 2.4rem;
        box-sizing: border-box;
        left: 0;
        top: 0;
        border: solid 0.3rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        width: 10.2468rem;
        position: absolute;
      }
      .rectangle-10-eTT {
        width: 10.2468rem;
        height: 2.4rem;
        top: 0;
        background-color: rgba(46, 53, 218, 0.3000000119);
        border-radius: 1.2rem;
        position: absolute;
        left: 0;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
      }
      .home-MMs {
        width: 7.5rem;
        position: absolute;
        top: 0.3rem;
        letter-spacing: 0.756rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        left: 1.6rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2525;
      }
    }
    .auto-group-8jhj-Su7 {
      font-family: Orbitron, 'Source Sans Pro';
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      height: 2.4rem;
      letter-spacing: 0.864rem;
      line-height: 1.2525;
      box-sizing: border-box;
      width: 16.2rem;
      font-size: 1.6rem;
      display: flex;
      background-color: rgba(46, 53, 218, 0.3000000119);
      flex-shrink: 0;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      margin: 0rem 19.8rem 1.2rem 0rem;
      font-weight: 700;
    }
    .group-104-Ea5 {
      background-color: rgba(46, 53, 218, 0.3000000119);
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      color: #ffffff;
      justify-content: center;
      box-shadow: 0 0 1rem #9e00ff;
      height: 2.4rem;
      font-size: 1.4rem;
      align-items: center;
      box-sizing: border-box;
      width: 10.6rem;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      border-radius: 1.2rem;
    }
  }
}
