
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.chatbot-2-2xq {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c63d20c748a5845b035d291b93eeaa485644d931');
  background-color: #ffffff;
  width: 100%;
  position: relative;
  height: 36rem;
  overflow: hidden;

  .spaceai-iKs {
    top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.864rem;
    width: 13.4rem;
    height: 2.1rem;
    position: absolute;
    left: 4.55rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    text-align: center;
    line-height: 1.2525;
    white-space: nowrap;
  }
  .john-martin-BjF {
    font-size: 1.1rem;
    display: flex;
    left: 5.55rem;
    text-align: center;
    line-height: 1.2539999702;
    font-family: Orbitron, 'Source Sans Pro';
    color: #ffffff;
    white-space: nowrap;
    align-items: baseline;
    width: 12.7rem;
    height: 1.4rem;
    top: 6.9rem;
    font-weight: 700;
    letter-spacing: 0.594rem;
    position: absolute;

    .john-martin-BjF-sub-0 {
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.594rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      font-size: 1.1rem;
    }
    .john-martin-BjF-sub-1 {
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.121rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      font-size: 1.1rem;
    }
    .john-martin-BjF-sub-2 {
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: 0.594rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
    }
    .john-martin-BjF-sub-3 {
      font-weight: 600;
      line-height: 1.2525;
      letter-spacing: -0.077rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      font-size: 1.1rem;
    }
  }
  .rectangle-7-SSD {
    position: absolute;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 3.1rem;
    width: 23.7rem;
    height: 36rem;
    left: 0;
    top: 0;
  }
  .rectangle-48-8pq {
    position: absolute;
    top: 30.1rem;
    border: solid 0.1rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 0.9rem;
    height: 2.3rem;
    left: 4.3rem;
    box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
    width: 10.3rem;
  }
  .rectangle-10-QnM {
    vertical-align: top;
    width: 37.5rem;
    height: 18.9rem;
    position: absolute;
    left: 28.2rem;
    top: 9.2rem;
    object-fit: contain;
  }
  .rectangle-50-8iM {
    position: absolute;
    left: 28.7rem;
    top: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 38.1rem;
    height: 4.6rem;
  }
  .rectangle-46-4c1 {
    background-color: rgba(46, 53, 218, 0.150000006);
    height: 2.6rem;
    box-sizing: border-box;
    left: 26.5rem;
    top: 30.3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
    width: 40.9rem;
    position: absolute;
  }
  .rectangle-47-L3j {
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
    height: 2.6rem;
    position: absolute;
    left: 64.2rem;
    top: 30.3rem;
  }
  .rectangle-49-sJZ {
    width: 6.9rem;
    height: 2rem;
    position: absolute;
    left: 58.2rem;
    top: 25.7rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 0.8rem;
  }
  .rectangle-51-zPB {
    height: 1.4rem;
    position: absolute;
    left: 28.8rem;
    top: 5.4rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 0.2rem;
    width: 1.7rem;
  }
  .write-here-ipy {
    line-height: 1.2525;
    width: 18.3rem;
    left: 28.45rem;
    top: 30.9rem;
    text-align: center;
    font-weight: 700;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    font-size: 1.2rem;
    letter-spacing: 0.648rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .new-chat-DWq {
    white-space: nowrap;
    display: flex;
    text-align: center;
    font-family: Changa, 'Source Sans Pro';
    left: 4.65rem;
    font-size: 1rem;
    width: 9.6rem;
    position: absolute;
    letter-spacing: 0.54rem;
    color: #ffffff;
    top: 30.4rem;
    line-height: 1.84;
    align-items: baseline;
    height: 1.9rem;
    font-weight: 500;

    .new-chat-DWq-sub-0 {
      font-weight: 800;
      line-height: 1.84;
      letter-spacing: 0.54rem;
      color: #ffffff;
      font-family: Changa, 'Source Sans Pro';
      font-size: 1rem;
    }
    .new-chat-DWq-sub-1 {
    }
  }
  .help-center-6DF {
    width: 11.3rem;
    height: 1.6rem;
    left: 5.85rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
    position: absolute;
    top: 24.9rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #ffffff;
    white-space: nowrap;
  }
  .settings-bA1 {
    font-weight: 500;
    white-space: nowrap;
    height: 1.6rem;
    top: 17rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    width: 8rem;
    position: absolute;
    left: 5.85rem;
    line-height: 1.2525;
  }
  .delete-chat-VFP {
    left: 5.85rem;
    top: 21.1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    height: 1.6rem;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2525;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.2rem;
  }
  .history-zhw {
    color: #ffffff;
    width: 7rem;
    height: 1.6rem;
    position: absolute;
    left: 5.85rem;
    top: 13.2rem;
    font-size: 1.2rem;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.3rem;
    white-space: nowrap;
  }
  .group-83-hMT {
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0.233rem 0.419rem 0.167rem 1.681rem;
    position: absolute;
    left: 70.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
    cursor: pointer;
    top: 30.6rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    line-height: 1.2525;
    letter-spacing: 0.648rem;
    width: 8.1rem;
    height: 2rem;
    color: #ffffff;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .i-am-very-nervous-for-the-trip-what-should-i-do--33w {
    font-weight: 700;
    letter-spacing: 0.04rem;
    width: 28.7rem;
    height: 1.3rem;
    position: absolute;
    left: 35.8rem;
    top: 3.4rem;
    font-size: 1rem;
    line-height: 1.2525;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
  }
  .male-user-iQy {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 10.3rem;
  }
  .message-bot-rGH {
    height: 9rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 9rem;
  }
  .email-send-bUm {
    width: 2.4rem;
    height: 2rem;
    position: absolute;
    left: 64.4rem;
    top: 30.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .thumbs-down-8Do {
    position: absolute;
    left: 63.1rem;
    top: 25.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.7rem;
  }
  .thumbs-up-Tms {
    width: 1.6rem;
    height: 1.7rem;
    position: absolute;
    left: 61.1rem;
    top: 25.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .copy-np9 {
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.7rem;
    position: absolute;
    left: 58.6rem;
    top: 25.8rem;
  }
  .edit-8ND {
    top: 5.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
    height: 1.4rem;
    position: absolute;
    left: 28.9rem;
  }
  .help-T9b {
    width: 2rem;
    height: 2.2rem;
    position: absolute;
    left: 3rem;
    top: 24.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .time-machine-P3F {
    object-fit: contain;
    vertical-align: top;
    width: 2.2rem;
    height: 2.3rem;
    position: absolute;
    left: 2.9rem;
    top: 12.8rem;
  }
  .settings-WNm {
    left: 3rem;
    top: 16.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.1rem;
    height: 2.4rem;
    position: absolute;
  }
  .remove-37o {
    width: 2.2rem;
    height: 2.6rem;
    position: absolute;
    left: 2.9rem;
    top: 20.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .message-bot-mJh {
    width: 2.9rem;
    height: 3rem;
    position: absolute;
    left: 24.7rem;
    top: 7.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .message-bot-hTF {
    height: 2.9rem;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.1rem;
  }
  .male-user-2kR {
    left: 67.3rem;
    top: 0.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.1rem;
    height: 2.9rem;
    position: absolute;
  }
  .male-user-MXo {
    width: 4.6rem;
    height: 6.4rem;
    position: absolute;
    left: 0.4rem;
    top: 4.8rem;
    object-fit: contain;
    vertical-align: top;
  }
}
