
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.chatbot-H1B {
  display: flex;
  align-items: flex-end;
  background-image: url('REPLACE_IMAGE:f27afd43f0f3675fc81f3eccdd4ab85b7dd367be');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;

  .auto-group-pryf-DQd {
    flex-shrink: 0;
    width: 23.7rem;
    height: 52.4rem;
    position: relative;

    .spaceai-8nV {
      font-family: Orbitron, 'Source Sans Pro';
      left: 4.55rem;
      top: 1.6rem;
      font-size: 1.6rem;
      line-height: 1.2525;
      letter-spacing: 0.864rem;
      color: #ffffff;
      white-space: nowrap;
      width: 13.4rem;
      height: 2.1rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
    }
    .john-martin-E4q {
      letter-spacing: 0.594rem;
      align-items: baseline;
      top: 6.9rem;
      font-weight: 700;
      line-height: 1.2539999702;
      color: #ffffff;
      display: flex;
      width: 12.7rem;
      position: absolute;
      left: 5.55rem;
      font-size: 1.1rem;
      font-family: Orbitron, 'Source Sans Pro';
      height: 1.4rem;
      text-align: center;
      white-space: nowrap;

      .john-martin-E4q-sub-0 {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2525;
        letter-spacing: 0.594rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
      }
      .john-martin-E4q-sub-1 {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2525;
        letter-spacing: 0.121rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
      }
      .john-martin-E4q-sub-2 {
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2525;
        letter-spacing: 0.594rem;
      }
      .john-martin-E4q-sub-3 {
        line-height: 1.2525;
        letter-spacing: -0.077rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    .rectangle-7-FnZ {
      left: 0;
      top: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
      border-radius: 3.1rem;
      width: 23.7rem;
      position: absolute;
      height: 36rem;
    }
    .rectangle-48-Mqb {
      border-radius: 0.9rem;
      height: 2.3rem;
      position: absolute;
      left: 4.3rem;
      box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 10.3rem;
      top: 30.1rem;
      border: solid 0.1rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
    }
    .new-chat-FRB {
      position: absolute;
      text-align: center;
      display: flex;
      width: 9.6rem;
      font-weight: 500;
      letter-spacing: 0.54rem;
      white-space: nowrap;
      align-items: baseline;
      line-height: 1.84;
      color: #ffffff;
      height: 1.9rem;
      left: 4.65rem;
      top: 30.4rem;
      font-size: 1rem;
      font-family: Changa, 'Source Sans Pro';

      .new-chat-FRB-sub-0 {
        font-family: Changa, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.84;
        letter-spacing: 0.54rem;
        color: #ffffff;
      }
      .new-chat-FRB-sub-1 {
      }
    }
    .help-center-Cjj {
      text-align: center;
      font-weight: 500;
      line-height: 1.2525;
      font-family: Orbitron, 'Source Sans Pro';
      width: 11.3rem;
      position: absolute;
      left: 5.85rem;
      top: 24.9rem;
      white-space: nowrap;
      height: 1.6rem;
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      color: #ffffff;
    }
    .settings-nhw {
      width: 8rem;
      text-align: center;
      font-weight: 500;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      height: 1.6rem;
      position: absolute;
      left: 5.85rem;
      top: 17rem;
      font-size: 1.2rem;
      line-height: 1.2525;
      letter-spacing: 0.3rem;
    }
    .delete-chat-tky {
      height: 1.6rem;
      top: 21.1rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.2525;
      width: 11.2rem;
      left: 5.85rem;
      letter-spacing: 0.3rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .history-o7F {
      font-family: Orbitron, 'Source Sans Pro';
      width: 7rem;
      height: 1.6rem;
      top: 13.2rem;
      text-align: center;
      line-height: 1.2525;
      color: #ffffff;
      position: absolute;
      left: 5.85rem;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.3rem;
      white-space: nowrap;
    }
    .male-user-VVs {
      object-fit: contain;
      vertical-align: top;
      width: 9rem;
      height: 9rem;
      position: absolute;
      left: 10.3rem;
      top: 0;
    }
    .message-bot-2Vo {
      height: 9rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 9rem;
    }
    .help-mTP {
      width: 2rem;
      height: 2.2rem;
      position: absolute;
      left: 3rem;
      top: 24.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .time-machine-uJh {
      left: 2.9rem;
      top: 12.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 2.3rem;
      position: absolute;
    }
    .settings-ELy {
      width: 2.1rem;
      height: 2.4rem;
      position: absolute;
      left: 3rem;
      top: 16.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .remove-MwP {
      position: absolute;
      left: 2.9rem;
      top: 20.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 2.6rem;
    }
    .message-bot-Vnh {
      vertical-align: top;
      width: 3.1rem;
      height: 2.9rem;
      position: absolute;
      left: 1.5rem;
      top: 1rem;
      object-fit: contain;
    }
    .male-user-ppy {
      height: 6.4rem;
      position: absolute;
      left: 0.4rem;
      top: 4.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.6rem;
    }
  }
  .auto-group-mbkz-M4D {
    height: 36rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.9rem 1.5rem 0.9rem 4.2rem;

    .auto-group-ctkm-UPj {
      margin-bottom: 2.2rem;
      width: 45.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-1vvf-18m {
        margin: 0rem 0rem 0.5rem 4rem;
        width: calc(100% - 4rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-3pkj-LB3 {
          width: 38.1rem;
          background-position: center;
          flex-shrink: 0;
          padding: 1rem 0.1rem 0.2rem 0.1rem;
          box-sizing: border-box;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:521:138');
          margin: 1.5rem 0.5rem 0rem 0rem;

          .what-is-a-black-hole-and-how-do-they-form-RyB {
            margin: 0rem 0rem 0.7rem 8.8rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.2525;
            letter-spacing: 0.04rem;
            color: #ffffff;
            font-family: Orbitron, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-mkz5-Kof {
            box-sizing: border-box;
            padding: 0 0.1rem;
            background-color: rgba(46, 53, 218, 0.3000000119);
            border-radius: 0.2rem;
            margin-right: 36.2rem;

            .edit-fcd {
              height: 1.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.5rem;
            }
          }
        }
        .male-user-MVT {
          height: 2.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.1rem;
        }
      }
      .auto-group-ryyq-V5s {
        margin: 0rem 4.7rem 2.2rem 0rem;
        width: calc(100% - 4.7rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .message-bot-DXf {
          margin-right: 0.6rem;
          width: 2.9rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-uueh-m3P {
          margin-top: 1.7rem;
          padding: 1.3rem 0.6rem 0.4rem 2.5rem;
          align-items: flex-end;
          display: flex;
          background-size: cover;
          background-position: center;
          background-image: url('REPLACE_IMAGE:515:104');
          flex-shrink: 0;
          box-sizing: border-box;
          flex-direction: column;
          background-repeat: no-repeat;

          .a-black-hole-is-a-region-in-space-where-the-gravitational-pull-is-so-intense-that-nothing-not-even-light-can-escape-its-grasp-they-form-when-massive-stars-undergo-supernova-explosions-causing-their-cores-to-collapse-under-gravitational-forces-if-the-cores-mass-exceeds-a-critical-threshold-it-contracts-infinitely-forming-a-singularity-at-the-center-surrounded-by-an-event-horizon-a-boundary-beyond-which-nothing-can-return-black-holes-come-in-various-sizes-from-stellar-mass-ones-to-supermassive-ones-found-at-the-centers-of-galaxies-they-are-fascinating-objects-that-challenge-our-understanding-of-space-time-and-gravity-t81 {
            font-size: 1rem;
            font-weight: 700;
            font-family: Orbitron, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.3rem 0.1rem 0rem;
            max-width: 34.1rem;
            line-height: 1.2525;
            letter-spacing: 0.04rem;
            color: #ffffff;
          }
          .auto-group-cztw-gi5 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.1rem 0.4rem 0.2rem 0.4rem;
            display: flex;
            align-items: center;
            background-color: rgba(46, 53, 218, 0.3000000119);
            border-radius: 0.8rem;

            .copy-onh {
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 1.6rem;
              height: 1.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .thumbs-up-Lnd {
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 1.6rem;
              height: 1.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .thumbs-down-5ER {
              width: 1.6rem;
              height: 1.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-wy4y-NUR {
        display: flex;
        align-items: center;
        border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
        box-shadow: 0 0 1rem rgba(158, 0, 255, 0.6000000238);
        border-radius: 1.2rem;
        margin: 0rem 3rem 0rem 1.8rem;
        padding-left: 1.95rem;
        width: calc(100% - 4.8rem);
        flex-shrink: 0;
        box-sizing: border-box;
        height: 2.6rem;
        background-color: rgba(46, 53, 218, 0.150000006);

        .write-here-gED {
          font-family: Orbitron, 'Source Sans Pro';
          margin: 0.2rem 17.45rem 0rem 0rem;
          line-height: 1.2525;
          letter-spacing: 0.648rem;
          color: rgba(255, 255, 255, 0.5);
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
        }
        .auto-group-cj7f-7qK {
          box-sizing: border-box;
          height: 100%;
          background-size: cover;
          background-position: center;
          flex-shrink: 0;
          padding: 0.3rem 0.2rem;
          width: 3.2rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:515:117');

          .email-send-E9F {
            vertical-align: top;
            width: 2.4rem;
            height: 2rem;
            object-fit: contain;
          }
        }
      }
    }
    .group-83-gG9 {
      background-color: rgba(46, 53, 218, 0.3000000119);
      box-sizing: border-box;
      line-height: 1.2525;
      white-space: nowrap;
      flex-shrink: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      margin-top: 27.2rem;
      cursor: pointer;
      font-weight: 700;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      padding: 0.233rem 0.419rem 0.167rem 1.681rem;
      font-size: 1.2rem;
      letter-spacing: 0.648rem;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
    }
  }
}
