
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.community-TLd {
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:624af26c0dc2c16e790f060c1543136c6c9675b8');
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4069a7;
  box-sizing: border-box;
  padding: 3.9rem 0rem 2.7rem 0rem;
  overflow: hidden;

  .auto-group-ccrb-9UM {
    width: 27.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin: 0rem 53.2rem 4.7rem 0rem;

    .group-52-fBo {
      box-sizing: border-box;
      font-size: 1.4rem;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      margin-right: 8.9rem;
      font-weight: 700;
      font-family: Orbitron, 'Source Sans Pro';
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      width: 18.5rem;
      color: #ffffff;
      border-radius: 0.7rem;
      padding: 0.4rem 0.2rem 0.2rem 1.7rem;
      height: 100%;
      white-space: nowrap;
    }
  }
  .auto-group-tfuf-E8R {
    margin: 0rem 23.5rem 1.7rem 19.9rem;
    width: calc(100% - 43.4rem);
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-3qsm-k6m {
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 13.5rem;
    }
    .auto-group-pvth-gWD {
      width: 23.1rem;
      white-space: nowrap;
      height: 100%;
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      box-shadow: 0 0 1rem #9e00ff;
      text-align: center;
      line-height: 1.2525;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.1rem;
      box-sizing: border-box;
      padding: 0.7rem 1.85rem 0.4rem 1.85rem;
      font-weight: 700;
      letter-spacing: 0.864rem;
      text-transform: uppercase;
      border: solid 0.2rem #9e00ff;
      flex-shrink: 0;
    }
  }
  .auto-group-qhjs-VyT {
    margin: 0rem 23.5rem 2rem 19.9rem;
    width: calc(100% - 43.4rem);
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-m6n1-DeZ {
      flex-shrink: 0;
      width: 13.5rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-1zgh-AJu {
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.2rem #9e00ff;
      flex-shrink: 0;
      padding: 0.7rem 2.3rem 0.4rem 2.3rem;
      height: 100%;
      text-align: center;
      letter-spacing: 0.864rem;
      box-sizing: border-box;
      color: #ffffff;
      border-radius: 1.1rem;
      font-weight: 700;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 23.1rem;
      font-size: 1.6rem;
      line-height: 1.2525;
      text-transform: uppercase;
    }
  }
  .auto-group-nzfb-CFb {
    margin: 0rem 23.5rem 1.7rem 19.9rem;
    width: calc(100% - 43.4rem);
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-baqv-vBb {
      width: 13.5rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-hdk9-TSR {
      align-items: center;
      box-sizing: border-box;
      background-color: rgba(46, 53, 218, 0.3000000119);
      flex-shrink: 0;
      width: 23.1rem;
      text-align: center;
      font-weight: 700;
      font-family: Orbitron, 'Source Sans Pro';
      height: 100%;
      color: #ffffff;
      display: flex;
      border-radius: 1.1rem;
      white-space: nowrap;
      border: solid 0.2rem #9e00ff;
      box-shadow: 0 0 1rem #9e00ff;
      justify-content: center;
      font-size: 1.6rem;
      line-height: 1.2525;
      letter-spacing: 0.864rem;
      text-transform: uppercase;
    }
  }
  .auto-group-y2bo-Jhw {
    margin: 0rem 23.5rem 1.7rem 19.9rem;
    width: calc(100% - 43.4rem);
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-wrzd-RGm {
      flex-shrink: 0;
      width: 13.5rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-khdx-m5j {
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: 0.864rem;
      height: 100%;
      width: 23.1rem;
      font-weight: 700;
      line-height: 1.2525;
      text-transform: uppercase;
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      color: #ffffff;
      border: solid 0.2rem #9e00ff;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      padding: 0.6rem 2.5rem 0.5rem 2.5rem;
      border-radius: 1.1rem;
      font-family: Orbitron, 'Source Sans Pro';
    }
  }
  .auto-group-gh1f-BQM {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2rem 0rem 2.1rem;
    width: calc(100% - 4.1rem);
    height: 2.4rem;
    display: flex;

    .group-84-JUy {
      margin-right: 53.6915rem;
      width: 11.6085rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      border-radius: 1.2rem;
      flex-shrink: 0;

      .rectangle-7-py7 {
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 1.2rem;
        width: 10.2468rem;
        border: solid 0.3rem #9e00ff;
        left: 0;
        top: 0;
        height: 2.4rem;
        position: absolute;
      }
      .rectangle-10-LRf {
        width: 10.2468rem;
        left: 0;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        background-color: rgba(46, 53, 218, 0.3000000119);
        height: 2.4rem;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        border-radius: 1.2rem;
      }
      .home-SDo {
        font-family: Orbitron, 'Source Sans Pro';
        width: 7.5rem;
        position: absolute;
        left: 1.6rem;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
        white-space: nowrap;
        height: 1.8rem;
        top: 0.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: #ffffff;
      }
    }
    .group-83-8MX {
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-shadow: 0 0 1rem #9e00ff;
      width: 10.6rem;
      height: 100%;
      font-weight: 700;
      color: #ffffff;
      border-radius: 1.2rem;
      background-color: rgba(46, 53, 218, 0.3000000119);
      cursor: pointer;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-shrink: 0;
    }
  }
}
