
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.jupitar-Pa1 {
  background-position: center;
  box-sizing: border-box;
  padding: 31.2rem 2.1rem 2.4rem 2rem;
  position: relative;
  display: flex;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  align-items: flex-end;
  background-image: url('REPLACE_IMAGE:2ec2386ec8e0accc8eb604b96bd5385286c78835');

  .group-57-KTf {
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin-right: 53.6915rem;
    width: 11.6085rem;

    .rectangle-7-3uT {
      position: absolute;
      top: 0;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      left: 0;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
    }
    .rectangle-10-xmX {
      height: 2.4rem;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 10.2468rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      border-radius: 1.2rem;
    }
    .home-r6D {
      letter-spacing: 0.756rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      height: 1.8rem;
      position: absolute;
      left: 1.6rem;
      font-weight: 700;
      line-height: 1.2525;
      white-space: nowrap;
      width: 7.5rem;
      top: 0.3rem;
      font-size: 1.4rem;
    }
  }
  .group-56-XTF {
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    background-color: rgba(46, 53, 218, 0.3000000119);
    width: 10.6rem;
    height: 2.4rem;
    line-height: 1.2525;
    display: flex;
    box-sizing: border-box;
    border-radius: 1.2rem;
    flex-shrink: 0;
    letter-spacing: 0.756rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    box-shadow: 0 0 1rem #9e00ff;
  }
}
