
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.learner-1-Gh7 {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style-business-card-us-1-AGh {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 80rem;
    height: 36rem;
    position: absolute;
  }
  .group-7-47B {
    position: absolute;
    left: 67.6rem;
    font-weight: 700;
    line-height: 1.2525;
    display: flex;
    width: 10.6rem;
    cursor: pointer;
    top: 31.4rem;
    letter-spacing: 0.756rem;
    justify-content: center;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 1.2rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    height: 2.4rem;
    font-size: 1.4rem;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
  }
  .group-31-DPP {
    top: 31.4rem;
    border-radius: 1.2rem;
    width: 11.6085rem;
    height: 2.4rem;
    cursor: pointer;
    position: absolute;
    left: 1.4rem;

    .rectangle-7-6xy {
      position: absolute;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      height: 2.4rem;
      left: 0;
      top: 0;
      width: 10.2468rem;
    }
    .rectangle-10-AT3 {
      width: 10.2468rem;
      height: 2.4rem;
      position: absolute;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      left: 0;
      top: 0;
      border-radius: 1.2rem;
    }
    .home-DRK {
      font-size: 1.4rem;
      line-height: 1.2525;
      color: #ffffff;
      width: 7.5rem;
      height: 1.8rem;
      position: absolute;
      left: 1.6rem;
      top: 0.3rem;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      letter-spacing: 0.756rem;
    }
  }
  .photo-gallery-gJu {
    width: 8.9rem;
    height: 8.3rem;
    position: absolute;
    left: 4.5rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .retro-tv-oPX {
    width: 10.1rem;
    height: 8.4rem;
    position: absolute;
    left: 20.2rem;
    top: 17.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .blue-rocket-taking-off-imP {
    top: 4.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 11.6983rem;
    height: 12.1784rem;
    position: absolute;
    left: 32.5928rem;
  }
  .stack-of-books-ShP {
    height: 7.5rem;
    position: absolute;
    left: 35.4rem;
    top: 18.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 9.4rem;
  }
  .rectangle-10-a2u {
    top: 6.4rem;
    box-sizing: border-box;
    width: 11.9rem;
    height: 10.4rem;
    position: absolute;
    left: 3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
  }
  .rectangle-16-FPw {
    top: 14.6rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    height: 2.1rem;
    position: absolute;
    border: solid 0.3rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.9rem;
    left: 3rem;
  }
  .galleries-YnM {
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    width: 10.9rem;
    top: 14.9rem;
    font-size: 1.1rem;
    line-height: 1.2525;
    letter-spacing: 0.594rem;
    font-family: Orbitron, 'Source Sans Pro';
    height: 1.4rem;
    position: absolute;
    left: 3.8rem;
  }
  .rectangle-17-2xR {
    position: absolute;
    left: 17.9rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    border-radius: 1.2rem;
    width: 11.8rem;
    height: 10.4rem;
    top: 6.4rem;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .rectangle-18-8Em {
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    height: 2.1rem;
    position: absolute;
    left: 17.9rem;
    top: 14.6rem;
    border: solid 0.3rem #9e00ff;
    width: 11.8rem;
    box-sizing: border-box;
    background-color: rgba(46, 53, 218, 0.3000000119);
  }
  .game-pNV {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.2525;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 21.25rem;
    top: 14.9rem;
    font-weight: 700;
    letter-spacing: 0.594rem;
    width: 5.9rem;
    height: 1.4rem;
  }
  .rectangle-23-uuj {
    left: 19.3rem;
    top: 18.3rem;
    width: 11.9rem;
    position: absolute;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    height: 10.4rem;
  }
  .rectangle-24-pG1 {
    left: 19.3rem;
    top: 26.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.9rem;
    height: 2.1rem;
    position: absolute;
    border: solid 0.3rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
  }
  .nasa-tv-i6V {
    width: 9.1rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2525;
    letter-spacing: 0.594rem;
    white-space: nowrap;
    height: 1.4rem;
    position: absolute;
    left: 20.9rem;
    top: 26.9rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .rectangle-25-1rH {
    height: 10.5rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    top: 6.4rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 11.8rem;
    position: absolute;
    left: 32.7rem;
  }
  .rectangle-26-JKb {
    height: 2.9rem;
    position: absolute;
    left: 32.7rem;
    top: 14rem;
    box-shadow: 0 0 1rem #9e00ff;
    width: 11.8rem;
    box-sizing: border-box;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 1.2rem;
    border: solid 0.3rem #9e00ff;
  }
  .nasas-mission-oGM {
    letter-spacing: 0.594rem;
    color: #ffffff;
    width: 8.8rem;
    height: 2.8rem;
    left: 34.25rem;
    top: 14rem;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
    position: absolute;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .rectangle-21-5jf {
    width: 11.9rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    top: 18.3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    height: 10.4rem;
    position: absolute;
    left: 34.2rem;
  }
  .rectangle-22-mMb {
    width: 11.9rem;
    left: 34.2rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 1.2rem;
    height: 2.1rem;
    position: absolute;
    top: 26.5rem;
    border: solid 0.3rem #9e00ff;
  }
  .e-library-TkD {
    white-space: nowrap;
    height: 1.4rem;
    font-family: Orbitron, 'Source Sans Pro';
    left: 34.7rem;
    top: 26.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2525;
    letter-spacing: 0.594rem;
    width: 11.3rem;
    position: absolute;
    color: #ffffff;
  }
  .rectangle-19-YFs {
    width: 14.2rem;
    position: absolute;
    left: 2.3rem;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    height: 11.2rem;
    top: 18rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
  }
  .rectangle-20-2Rw {
    width: 14.2rem;
    left: 2.3rem;
    top: 26rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    height: 3.1rem;
    position: absolute;
    border: solid 0.3rem #9e00ff;
    border-radius: 1.2rem;
  }
  .learn-solar-system-7TP {
    left: 2.7rem;
    text-align: center;
    letter-spacing: 0.594rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    width: 14rem;
    height: 2.8rem;
    position: absolute;
    line-height: 1.2525;
    top: 26.2rem;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .rectangle-27-p6u {
    width: 13rem;
    height: 10.9rem;
    position: absolute;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
    left: 48.9rem;
    top: 18.2rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .rectangle-28-iCH {
    left: 48.9rem;
    top: 26.4rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 1.2rem;
    position: absolute;
    height: 2.6rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    width: 13rem;
  }
  .planet-simulation-nhw {
    top: 26.2rem;
    text-align: center;
    line-height: 1.2525;
    letter-spacing: 0.594rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    height: 2.8rem;
    position: absolute;
    left: 49.25rem;
    font-size: 1.1rem;
    font-weight: 700;
    width: 12.3rem;
  }
  .planet-earth-rSu {
    vertical-align: top;
    width: 6.9rem;
    height: 6.5rem;
    position: absolute;
    left: 51.4rem;
    top: 18.8rem;
    object-fit: contain;
  }
  .rectangle-27-Ng9 {
    position: absolute;
    box-sizing: border-box;
    border-radius: 1.2rem;
    top: 5.9rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 13.9rem;
    height: 11.4rem;
    left: 62.7rem;
  }
  .rectangle-29-H2R {
    cursor: pointer;
    position: absolute;
    top: 6.4rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    height: 10.4rem;
    left: 3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 11.9rem;
  }
  .rectangle-30-yA9 {
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.8rem;
    position: absolute;
    box-sizing: border-box;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    height: 10.4rem;
    left: 17.9rem;
    top: 6.4rem;
  }
  .rectangle-31-5DB {
    top: 18.3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
    width: 11.9rem;
    height: 10.4rem;
    position: absolute;
    left: 19.3rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .rectangle-32-y3f {
    position: absolute;
    left: 32.7rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.8rem;
    top: 6.4rem;
    box-sizing: border-box;
    height: 10.5rem;
  }
  .rectangle-33-fSH {
    height: 10.4rem;
    position: absolute;
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem #9e00ff;
    width: 11.9rem;
    cursor: pointer;
    left: 34.2rem;
    top: 18.3rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
  }
  .rectangle-34-AP3 {
    height: 11.2rem;
    box-shadow: 0 0 1rem #9e00ff;
    top: 18rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    border-radius: 1.2rem;
    width: 14.2rem;
    position: absolute;
    left: 2.3rem;
  }
  .rectangle-35-GBB {
    border-radius: 1.2rem;
    height: 10.9rem;
    position: absolute;
    left: 48.9rem;
    top: 18.2rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 13rem;
    cursor: pointer;
    box-sizing: border-box;
  }
  .rectangle-36-9km {
    left: 62.7rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 13.9rem;
    height: 11.4rem;
    position: absolute;
    top: 5.9rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
  }
  .rectangle-28-2pZ {
    position: absolute;
    left: 62.7rem;
    border-radius: 1.2rem;
    height: 3.2rem;
    top: 14rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    width: 13.9rem;
  }
  .eyes-on-the-solar-system-VTF {
    letter-spacing: 0.54rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    width: 13.9rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2525;
    font-weight: 700;
    height: 2.6rem;
    position: absolute;
    left: 62.65rem;
    top: 14.3rem;
  }
  .blue-planet-with-moon-xrd {
    top: 6.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 11.6rem;
    height: 6.7rem;
    position: absolute;
    left: 63.8rem;
  }
  .rectangle-37-V5s {
    border-radius: 1.2rem;
    width: 11.8rem;
    position: absolute;
    left: 47.7rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    height: 10.4rem;
    top: 6.4rem;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .rectangle-38-6LZ {
    height: 2.1rem;
    left: 47.7rem;
    border: solid 0.3rem #9e00ff;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 1.2rem;
    width: 11.8rem;
    top: 14.6rem;
    box-sizing: border-box;
    position: absolute;
  }
  .chatbox-C8h {
    width: 9.3rem;
    height: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 0.594rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    position: absolute;
    left: 49.3rem;
    top: 14.9rem;
    font-size: 1.1rem;
    line-height: 1.2525;
  }
  .rectangle-39-4gh {
    box-sizing: border-box;
    border-radius: 1.2rem;
    width: 11.8rem;
    height: 10.4rem;
    position: absolute;
    left: 47.7rem;
    top: 6.4rem;
    cursor: pointer;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
  }
  .chatbot-W2u {
    left: 47.8rem;
    top: 5.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 11.7rem;
    height: 9rem;
    position: absolute;
  }
  .rectangle-40-c5w {
    box-sizing: border-box;
    left: 64.6rem;
    height: 10.4rem;
    position: absolute;
    top: 18.8rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.8rem;
  }
  .rectangle-41-uKw {
    left: 64.6rem;
    border: solid 0.3rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    border-radius: 1.2rem;
    width: 11.8rem;
    height: 2.1rem;
    position: absolute;
    top: 27rem;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
  }
  .calculate-PF7 {
    white-space: nowrap;
    width: 11.3rem;
    height: 1.4rem;
    position: absolute;
    left: 65.1rem;
    font-weight: 700;
    color: #ffffff;
    top: 27.3rem;
    font-size: 1.1rem;
    line-height: 1.2525;
    letter-spacing: 0.594rem;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .rectangle-42-tSm {
    width: 11.8rem;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    height: 10.4rem;
    position: absolute;
    left: 64.6rem;
    top: 18.8rem;
    border: solid 0.2rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
  }
  .calculator-b6H {
    top: 19rem;
    object-fit: contain;
    vertical-align: top;
    width: 8.4rem;
    height: 7.3rem;
    position: absolute;
    left: 66.2rem;
  }
  .group-52-7qK {
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    width: 17.5rem;
    left: 0;
    letter-spacing: 0.756rem;
    top: 2.3rem;
    color: #ffffff;
    border-radius: 0.7rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0.3rem 0rem 0.3rem 4.3rem;
    height: 2.4rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2525;
  }
  .space-exploration-rocket-flies-over-the-planet-59s {
    top: 18rem;
    background-size: 102.507% 129.487%;
    background-position: -0.3838rem -0.7833rem;
    background-image: url('REPLACE_IMAGE:203f97273fc68ccdb3fbbdd26adff2d306b03eb8');
    width: 10.4rem;
    height: 7.8rem;
    position: relative;
    left: 4.5rem;
  }
  .game-controller-vRP {
    object-fit: contain;
    vertical-align: top;
    width: 12.1rem;
    height: 8.9rem;
    position: absolute;
    left: 17.7rem;
    top: 6.3rem;
  }
}
