
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.login-9QM {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:04d6bd97b8163e98256f9072d1a7efa1137abf6d');
  padding: 22.1rem 31rem 3.8rem 33.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  .group-8-2j3 {
    height: 3.3rem;
    cursor: pointer;
    position: relative;
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin-bottom: 3.5rem;
    width: 100%;

    .rectangle-7-k9F {
      box-shadow: 0 0 1rem #9e00ff;
      width: 12.2rem;
      top: 0;
      box-sizing: border-box;
      border: solid 0.3rem #9e00ff;
      border-radius: 1.2rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
    }
    .rectangle-10-3u3 {
      left: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      background-color: rgba(46, 53, 218, 0.3000000119);
      position: absolute;
      height: 3.3rem;
      top: 0;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      width: 12.2rem;
    }
    .signup-Y57 {
      top: 0.6rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.1rem;
      height: 2.1rem;
      position: absolute;
      left: 0.5rem;
      font-size: 1.6rem;
      line-height: 1.2525;
      letter-spacing: 0.864rem;
    }
  }
  .group-7-Qt1 {
    position: relative;
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin-right: 2.8rem;
    width: 12.5rem;
    height: 3.3rem;
    cursor: pointer;

    .rectangle-7-jfP {
      top: 0;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      width: 12.2rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      border: solid 0.3rem #9e00ff;
      border-radius: 1.2rem;
    }
    .rectangle-10-e1f {
      width: 12.2rem;
      position: absolute;
      left: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      background-color: rgba(46, 53, 218, 0.3000000119);
      height: 3.3rem;
      top: 0;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
    }
    .login-8Sd {
      height: 2.1rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      width: 9.9rem;
      left: 1.7rem;
      top: 0.6rem;
      line-height: 1.2525;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
    }
  }
}
