
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.mercury-jY5 {
  background-image: url('REPLACE_IMAGE:87e6565fe3674379b8762b3ac542fc4ffafa488d');
  box-sizing: border-box;
  padding: 30.6rem 2rem 3rem 2.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  .group-57-SBb {
    margin-right: 53.6915rem;
    width: 11.6085rem;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    border-radius: 1.2rem;
    flex-shrink: 0;

    .rectangle-7-N5F {
      top: 0;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      width: 10.2468rem;
      height: 2.4rem;
      position: absolute;
      left: 0;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
    }
    .rectangle-10-U8H {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
    }
    .home-ZQd {
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.5rem;
      position: absolute;
      top: 0.3rem;
      font-size: 1.4rem;
      font-weight: 700;
      height: 1.8rem;
      left: 1.6rem;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      color: #ffffff;
    }
  }
  .group-56-SUR {
    font-weight: 700;
    background-color: rgba(46, 53, 218, 0.3000000119);
    height: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.2525;
    display: flex;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    width: 10.6rem;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1.2rem;
    letter-spacing: 0.756rem;
  }
}
