
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.neptune-4wj {
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:b1940dbbccbc7cb1545405155f4cc262c40b7aed');
  padding: 31.4rem 2.1rem 2.2rem 2rem;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;

  .group-57-aQH {
    cursor: pointer;
    position: relative;
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin-right: 53.6915rem;
    width: 11.6085rem;
    height: 2.4rem;

    .rectangle-7-Z1K {
      width: 10.2468rem;
      position: absolute;
      top: 0;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      border-radius: 1.2rem;
      height: 2.4rem;
      left: 0;
      box-shadow: 0 0 1rem #9e00ff;
    }
    .rectangle-10-rWD {
      position: absolute;
      top: 0;
      box-sizing: border-box;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      left: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-shadow: 0 0 1rem #9e00ff;
    }
    .home-xJM {
      font-size: 1.4rem;
      font-family: Orbitron, 'Source Sans Pro';
      width: 7.5rem;
      left: 1.6rem;
      top: 0.3rem;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      color: #ffffff;
      white-space: nowrap;
      height: 1.8rem;
      position: absolute;
      font-weight: 700;
    }
  }
  .group-56-pbT {
    font-family: Orbitron, 'Source Sans Pro';
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 1.2rem;
    cursor: pointer;
    letter-spacing: 0.756rem;
    color: #ffffff;
    flex-shrink: 0;
    line-height: 1.2525;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    height: 2.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    width: 10.6rem;
    align-items: center;
  }
}
