
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.packages-BvH {
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  background-image: url('REPLACE_IMAGE:589df901d5b167d381fab47fe6d2b137bcfc985a');
  padding: 2.4rem 0rem 2.5rem 0rem;
  flex-direction: column;

  .auto-group-mep7-Ggq {
    margin-bottom: 8rem;
    width: 32.1rem;
    height: 3.5rem;
    position: relative;
    flex-shrink: 0;

    .packages-Boo {
      position: absolute;
      top: 0.8rem;
      font-weight: 600;
      line-height: 1.25;
      width: 16rem;
      height: 2.2rem;
      letter-spacing: 0.918rem;
      color: #ffffff;
      font-family: Oxanium, 'Source Sans Pro';
      white-space: nowrap;
      left: 0.5rem;
      font-size: 1.7rem;
    }
    .group-7-sgd {
      height: 3.5rem;
      position: absolute;
      left: 0;
      top: 0;
      width: 32.1rem;

      .vector-1-oaH {
        height: 3.5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 19.26rem;
      }
      .vector-2-wAh {
        height: 0;
        position: absolute;
        left: 0;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 32.1rem;
      }
      .vector-3-g8H {
        object-fit: contain;
        vertical-align: top;
        width: 32.1rem;
        height: 0;
        position: absolute;
        left: 0;
        top: 3.5rem;
      }
    }
    .group-19-cnd {
      top: 0;
      width: 32.1rem;
      height: 3.5rem;
      position: absolute;
      left: 0;

      .vector-1-9nZ {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 19.26rem;
        height: 3.5rem;
        position: absolute;
        left: 0;
      }
      .vector-2-u13 {
        left: 0;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 32.1rem;
        height: 0;
        position: absolute;
      }
      .vector-3-3d3 {
        width: 32.1rem;
        height: 0;
        position: absolute;
        left: 0;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-t3lz-nKj {
    width: calc(100% - 29.2rem);
    height: 12.8015rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 7rem 4.398rem 22.2rem;
    box-sizing: border-box;
    padding-left: 1.7rem;
    border-left: solid 0.2rem #9e00ff;

    .auto-group-qm1f-sc5 {
      width: 28.7rem;
      height: 100%;
      flex-shrink: 0;

      .group-26-d5T {
        border-radius: 2.2rem;
        width: 100%;
        height: 100%;
        position: relative;

        .rectangle-1-mBf {
          width: 27.6rem;
          height: 12.8015rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.2rem;
        }
        .rectangle-2-5CM {
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.2rem;
          width: 27.6rem;
          height: 12.8015rem;
        }
        .rectangle-3-QVX {
          border-radius: 2.2rem;
          width: 27.6rem;
          height: 12.8015rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .steller-sojourn-jnh {
          height: 2.5rem;
          position: absolute;
          top: 1.9rem;
          text-align: center;
          font-size: 2rem;
          letter-spacing: 0.76rem;
          width: 26.9rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Oxanium, 'Source Sans Pro';
          white-space: nowrap;
          left: 0.9rem;
        }
        .moon-walk-mars-exploration-astoreid-mining-pJM {
          width: 18.6rem;
          line-height: 1.4000000272;
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 0.28rem;
          font-family: Orbitron, 'Source Sans Pro';
          height: 5.9rem;
          position: absolute;
          left: 5.1rem;
          top: 5.5rem;
        }
      }
    }
    .auto-group-krc1-g5f {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.3rem 0rem 2.502rem 1.1rem;

      .line-6-nuP {
        margin-right: 14.7rem;
        width: 0.2rem;
        height: 8rem;
        background-color: #9e00ff;
        box-shadow: 0 0 1rem #9e00ff, 0 0 1rem #9e00ff;
        flex-shrink: 0;
      }
      .vector-txR {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 1.6rem;
        width: 4.4rem;
        height: 6rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
  }
  .auto-group-f6cm-oZb {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.1rem 0rem 2rem;
    width: calc(100% - 4.1rem);
    height: 2.4rem;
    display: flex;

    .group-57-igZ {
      position: relative;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 53.6915rem;
      width: 11.6085rem;
      height: 100%;
      cursor: pointer;

      .rectangle-7-TPF {
        width: 10.2468rem;
        position: absolute;
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        height: 2.4rem;
        left: 0;
        top: 0;
        border: solid 0.3rem #9e00ff;
        border-radius: 1.2rem;
      }
      .rectangle-10-ZSH {
        background-color: rgba(46, 53, 218, 0.3000000119);
        border-radius: 1.2rem;
        position: absolute;
        top: 0;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        width: 10.2468rem;
        height: 2.4rem;
        left: 0;
        box-shadow: 0 0 1rem #9e00ff;
      }
      .home-2qf {
        color: #ffffff;
        white-space: nowrap;
        width: 7.5rem;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
        height: 1.8rem;
        left: 1.6rem;
        top: 0.3rem;
        font-weight: 700;
        font-family: Orbitron, 'Source Sans Pro';
      }
    }
    .group-56-7cD {
      align-items: center;
      border-radius: 1.2rem;
      width: 10.6rem;
      font-weight: 700;
      display: flex;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
      color: #ffffff;
      justify-content: center;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      font-family: Orbitron, 'Source Sans Pro';
      height: 100%;
      font-size: 1.4rem;
    }
  }
}
