
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.packages-1-uwo {
  background-color: #ffffff;
  width: 100%;
  height: 38rem;
  position: relative;

  .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-1-e8h {
    position: absolute;
    left: 0;
    top: 2rem;
    object-fit: cover;
    vertical-align: top;
    width: 80rem;
    height: 36rem;
  }
  .vector-wdb {
    object-fit: contain;
    vertical-align: top;
    width: 4.4rem;
    height: 6rem;
    cursor: pointer;
    position: absolute;
    left: 68.6rem;
    top: 20rem;
  }
  .vector-FuB {
    top: 20rem;
    object-fit: contain;
    vertical-align: top;
    width: 4rem;
    height: 6rem;
    cursor: pointer;
    position: absolute;
    left: 8.1rem;
  }
  .packages-zrm {
    line-height: 1.25;
    letter-spacing: 0.918rem;
    font-family: Oxanium, 'Source Sans Pro';
    width: 16rem;
    height: 2.2rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 0.5rem;
    top: 5.2rem;
  }
  .group-29-6Q1 {
    top: 16rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 2.2rem;
    width: 27.6rem;
    height: 12.8015rem;
    position: absolute;
    left: 26.2rem;
  }
  .group-19-cNM {
    left: 0;
    top: 4.4rem;
    width: 32.5rem;
    height: 3.5rem;
    position: absolute;

    .vector-1-wfX {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 19.5rem;
      height: 3.5rem;
      position: absolute;
    }
    .vector-2-frR {
      width: 32.5rem;
      height: 0;
      position: absolute;
      left: 0;
      top: 3.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-3-pDX {
      vertical-align: top;
      width: 32.5rem;
      height: 0;
      position: absolute;
      left: 0;
      top: 3.5rem;
      object-fit: contain;
    }
  }
  .line-3-xqX {
    top: 18.3rem;
    background-color: #9e00ff;
    box-shadow: 0 0 1rem #9e00ff, 0 0 1rem #9e00ff;
    width: 0.2rem;
    height: 8rem;
    position: absolute;
    left: 24.3rem;
  }
  .line-4-fE9 {
    width: 0.2rem;
    height: 8rem;
    position: absolute;
    left: 55.8rem;
    top: 18.3rem;
    background-color: #9e00ff;
    box-shadow: 0 0 1rem #9e00ff, 0 0 1rem #9e00ff;
  }
  .group-58-ykd {
    line-height: 1.2525;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    left: 67.3rem;
    font-size: 1.4rem;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 1.2rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    position: absolute;
    font-weight: 700;
    letter-spacing: 0.756rem;
    cursor: pointer;
    height: 2.4rem;
    top: 33.3rem;
    font-family: Orbitron, 'Source Sans Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem #9e00ff;
    width: 10.6rem;
  }
  .group-59-wL5 {
    top: 33.3rem;
    border-radius: 1.2rem;
    width: 11.6085rem;
    height: 2.4rem;
    cursor: pointer;
    position: absolute;
    left: 2rem;

    .rectangle-7-sUd {
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 0;
      border: solid 0.3rem #9e00ff;
    }
    .rectangle-10-BER {
      position: absolute;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      left: 0;
      top: 0;
      box-shadow: 0 0 1rem #9e00ff;
    }
    .home-GWm {
      width: 7.5rem;
      height: 1.8rem;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.2525;
      left: 1.6rem;
      top: 0.3rem;
      font-weight: 700;
      letter-spacing: 0.756rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .cosmic-classroom-Yz5 {
    top: 17.8rem;
    font-size: 2rem;
    white-space: nowrap;
    height: 2.5rem;
    left: 27.25rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.53rem;
    color: #ffffff;
    font-family: Oxanium, 'Source Sans Pro';
    width: 25.9rem;
    position: absolute;
  }
  .space-workshops-alien-life-hunt-solar-system-tour-enD {
    width: 19.5rem;
    height: 5.9rem;
    font-size: 1.4rem;
    letter-spacing: 0.28rem;
    position: absolute;
    left: 31.4rem;
    top: 21.1rem;
    font-weight: 600;
    line-height: 1.4000000272;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
  }
}
