
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.planet-name-1-TXX {
  background-image: url('REPLACE_IMAGE:1711d4fd3a439ef20849793d3128276d227acc8e');
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-position: center;
  padding: 2.2rem 0rem 3rem 0rem;
  position: relative;
  background-color: #2b2b2b;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .auto-group-jos5-L5X {
    width: 32.2rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-bottom: 3rem;

    .group-51-s5T {
      box-sizing: border-box;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      margin-right: 12.692rem;
      letter-spacing: 0.756rem;
      white-space: nowrap;
      padding: 0.4rem 0.608rem 0.2rem 3.2rem;
      height: 100%;
      font-weight: 700;
      font-family: Orbitron, 'Source Sans Pro';
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 0.7rem;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 19.508rem;
      font-size: 1.4rem;
      line-height: 1.2525;
      color: #ffffff;
    }
  }
  .auto-group-kfuh-C1F {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 4.9rem 0.3rem 5.8rem;
    width: calc(100% - 10.7rem);
    height: 10.3rem;
    display: flex;

    .auto-group-ckhw-hTo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.1rem 4.8rem 0rem 0rem;

      .auto-group-uf6u-pYR {
        margin: 0rem 0rem 0.3rem 0.4rem;
        width: 13.4rem;
        height: 1.9rem;
        position: relative;
        flex-shrink: 0;

        .vector-4-LFs {
          width: 13.4rem;
          height: 1.8rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .mars-GQR {
          left: 0.9rem;
          top: 0;
          text-align: center;
          font-size: 1.5rem;
          letter-spacing: 0.81rem;
          font-family: Orbitron, 'Source Sans Pro';
          width: 7.5rem;
          position: absolute;
          white-space: nowrap;
          line-height: 1.2525;
          color: #ffffff;
          height: 1.9rem;
          font-weight: 700;
        }
      }
      .front-2-2-kaV {
        width: 10.6rem;
        height: 8rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-hpob-H4d {
      margin: 0rem 4.3rem 0.4rem 0rem;
      width: 13.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-88mb-PtM {
        width: 100%;
        height: 2rem;
        position: relative;
        flex-shrink: 0;

        .vector-24-YFT {
          height: 1.8rem;
          position: absolute;
          left: 0;
          top: 0.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 13.4rem;
        }
        .jupiter-HD3 {
          position: absolute;
          text-align: center;
          line-height: 1.2525;
          letter-spacing: 0.81rem;
          width: 11.7rem;
          height: 1.9rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          white-space: nowrap;
          left: 0.45rem;
          top: 0;
        }
      }
      .front-1-2-ybf {
        margin-left: 0.7rem;
        width: 9.7rem;
        height: 7.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-nukf-Jtq {
      margin: 0.1rem 5.2rem 0rem 0rem;
      width: 14.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ddnd-eC1 {
        width: 100%;
        height: 1.9rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.4rem;

        .vector-35-nZ7 {
          position: absolute;
          left: 0;
          top: 0.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 14.4rem;
          height: 1.7rem;
        }
        .mercury-vvD {
          color: #ffffff;
          width: 12.8rem;
          position: absolute;
          top: 0;
          font-size: 1.5rem;
          line-height: 1.2525;
          font-family: Orbitron, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.9rem;
          left: 0.15rem;
          text-align: center;
          font-weight: 700;
          letter-spacing: 0.81rem;
        }
      }
      .front-4-ER7 {
        width: 12rem;
        height: 7.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.8rem;
      }
    }
    .auto-group-pn9j-N1X {
      height: calc(100% - 0.3rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.1rem 0rem;
      width: 13.4rem;

      .auto-group-bvs9-gH7 {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 1.9rem;
        position: relative;
        flex-shrink: 0;

        .vector-46-1aH {
          position: absolute;
          left: 0;
          top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 13.4rem;
          height: 1.7rem;
        }
        .venus-9gV {
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.81rem;
          position: absolute;
          left: 0.25rem;
          top: 0;
          text-align: center;
          font-size: 1.5rem;
          color: #ffffff;
          white-space: nowrap;
          width: 9.7rem;
          height: 1.9rem;
          font-family: Orbitron, 'Source Sans Pro';
        }
      }
      .front-7-2-ET3 {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 9.3rem;
        height: 7.9rem;
        object-fit: cover;
      }
    }
  }
  .auto-group-aw9t-MnZ {
    margin: 0rem 4.9rem 0.2rem 5.8rem;
    width: calc(100% - 10.7rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-aoem-5Cm {
      margin: 0rem 4.7rem 0.1rem 0rem;
      width: 13.9rem;
      height: 1.9rem;
      position: relative;
      flex-shrink: 0;

      .vector-57-mrH {
        height: 1.7rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 13.9rem;
      }
      .neptune-7QM {
        height: 1.9rem;
        position: absolute;
        top: 0;
        font-size: 1.5rem;
        line-height: 1.2525;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        width: 12.7rem;
        left: 0.05rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.81rem;
      }
    }
    .auto-group-yxn9-cc1 {
      position: relative;
      flex-shrink: 0;
      margin-right: 4.4rem;
      width: 13.4rem;
      height: 1.9rem;

      .vector-79-A7j {
        height: 1.8rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 13.4rem;
      }
      .saturn-h7f {
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        width: 10.7rem;
        height: 1.9rem;
        top: 0;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.81rem;
        white-space: nowrap;
        position: absolute;
        left: 0.25rem;
        font-size: 1.5rem;
        line-height: 1.2525;
      }
    }
    .auto-group-7vu5-neu {
      flex-shrink: 0;
      margin-right: 6.1rem;
      width: 13.4rem;
      height: 1.9rem;
      position: relative;

      .vector-68-XsP {
        vertical-align: top;
        width: 13.4rem;
        height: 1.7rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        object-fit: contain;
      }
      .uranus-58D {
        height: 1.9rem;
        top: 0;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.81rem;
        width: 11.1rem;
        position: absolute;
        left: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
      }
    }
    .auto-group-ngtf-Bh3 {
      width: 13.4rem;
      height: 1.9rem;
      position: relative;
      flex-shrink: 0;

      .vector-86-8cH {
        object-fit: contain;
        vertical-align: top;
        width: 13.4rem;
        height: 1.8rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .pluto-5XX {
        left: 0.75rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.81rem;
        color: #ffffff;
        width: 8.5rem;
        height: 1.9rem;
        font-family: Orbitron, 'Source Sans Pro';
        font-size: 1.5rem;
        white-space: nowrap;
        position: absolute;
        top: 0;
      }
    }
  }
  .auto-group-5mjb-NmX {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 6.3rem 1.6rem 6.6rem;
    width: calc(100% - 12.9rem);

    .front-3-2-6hX {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 9.2rem 0.4rem 0rem;
      width: 9.1rem;
      height: 8.2rem;
    }
    .front-6-2-pdX {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 7.3rem 0.4rem 0rem;
      width: 12.3rem;
      height: 7.1rem;
      cursor: pointer;
    }
    .front-5-2-YJd {
      height: 7.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 9.3rem;
      width: 9.5rem;
    }
    .front-4-2-UTB {
      flex-shrink: 0;
      width: 10.4rem;
      height: 8rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-ohxq-1xu {
    height: 2.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.1rem 0rem 2rem;
    width: calc(100% - 4.1rem);

    .group-33-isK {
      width: 11.6085rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 53.6915rem;

      .rectangle-7-Ta1 {
        height: 2.4rem;
        left: 0;
        box-sizing: border-box;
        border-radius: 1.2rem;
        width: 10.2468rem;
        position: absolute;
        top: 0;
        border: solid 0.3rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
      }
      .rectangle-10-MQV {
        width: 10.2468rem;
        position: absolute;
        left: 0;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        background-color: rgba(46, 53, 218, 0.3000000119);
        height: 2.4rem;
        top: 0;
        border-radius: 1.2rem;
      }
      .home-DxV {
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        left: 1.6rem;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
        font-weight: 700;
        width: 7.5rem;
        position: absolute;
        top: 0.3rem;
        font-size: 1.4rem;
      }
    }
    .group-32-JDF {
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      width: 10.6rem;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-weight: 700;
      line-height: 1.2525;
      align-items: center;
      justify-content: center;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      height: 100%;
      letter-spacing: 0.756rem;
      box-sizing: border-box;
      flex-shrink: 0;
      cursor: pointer;
      background-color: rgba(46, 53, 218, 0.3000000119);
    }
  }
}
