
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.planet-name-Uz5 {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.2rem 0rem 3rem 0rem;
  position: relative;
  background-color: #2b2b2b;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:1711d4fd3a439ef20849793d3128276d227acc8e');
  width: 100%;
  overflow: hidden;
  display: flex;

  .auto-group-x421-myB {
    flex-shrink: 0;
    margin: 0rem 27rem 0.609rem 0rem;
    width: calc(100% - 27rem);
    display: flex;
    align-items: flex-start;

    .group-51-tH7 {
      box-sizing: border-box;
      letter-spacing: 0.756rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      flex-shrink: 0;
      margin-right: 12.7rem;
      font-size: 1.4rem;
      line-height: 1.2525;
      justify-content: center;
      width: 16.6rem;
      height: 2.4rem;
      font-weight: 700;
      display: flex;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      border-radius: 0.7rem;
    }
    .auto-group-u3pj-dtu {
      position: relative;
      flex-shrink: 0;
      margin-top: 2.2713rem;
      width: 25.9rem;
      height: 2.8718rem;

      .vector-3-Mpu {
        position: absolute;
        left: 18.0102rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-5-6Gh {
        width: 2.1101rem;
        height: 2.8718rem;
        position: absolute;
        left: 19.2029rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-6-dXX {
        left: 20.3955rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
        position: absolute;
      }
      .vector-7-mdj {
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
        position: absolute;
        left: 21.5881rem;
        top: 0;
      }
      .vector-8-ujw {
        position: absolute;
        left: 22.6891rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-9-eBj {
        height: 2.8718rem;
        position: absolute;
        left: 23.7899rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
      }
      .vector-4-PQD {
        top: 0.1287rem;
        object-fit: contain;
        vertical-align: top;
        width: 18.7rem;
        height: 2.5rem;
        position: absolute;
        left: 0;
      }
      .mars-ihP {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.972rem;
        width: 9rem;
        height: 2.3rem;
        position: absolute;
        left: 1.65rem;
        color: #ffffff;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        top: 0.1287rem;
        text-align: center;
      }
    }
  }
  .auto-group-edmw-nhF {
    margin: 0rem 27rem 0.609rem 27.1rem;
    width: calc(100% - 54.1rem);
    height: 2.8718rem;
    position: relative;
    flex-shrink: 0;

    .vector-14-gXj {
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 18.0102rem;
      top: 0;
      object-fit: contain;
    }
    .vector-15-2Lh {
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
      top: 0;
    }
    .vector-16-xk9 {
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
    }
    .vector-17-JJD {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 21.5881rem;
    }
    .vector-18-2k1 {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-19-mhb {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-24-uYu {
      width: 18.7rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0.1478rem;
      object-fit: contain;
      vertical-align: top;
    }
    .jupiter-eFb {
      font-size: 1.8rem;
      font-weight: 700;
      color: #ffffff;
      left: 1.55rem;
      top: 0.2478rem;
      position: absolute;
      text-align: center;
      line-height: 1.2525;
      letter-spacing: 0.972rem;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.1rem;
      height: 2.3rem;
    }
  }
  .auto-group-iqyo-j29 {
    width: calc(100% - 54.1rem);
    height: 2.8718rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 27rem 0.609rem 27.1rem;

    .vector-25-3Hj {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 18.0102rem;
    }
    .vector-26-mjX {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-27-iPs {
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
    }
    .vector-28-rky {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 21.5881rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-29-C49 {
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
    }
    .vector-30-8yP {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-35-5Nq {
      left: 0;
      top: 0.1668rem;
      object-fit: contain;
      vertical-align: top;
      width: 18.7rem;
      height: 2.4rem;
      position: absolute;
    }
    .mercury-23B {
      top: 0.0668rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.972rem;
      white-space: nowrap;
      width: 15.3rem;
      left: 1.4rem;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      height: 2.3rem;
      position: absolute;
    }
  }
  .auto-group-mug5-K2H {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 27rem 0.609rem 27.1rem;
    width: calc(100% - 54.1rem);
    height: 2.8718rem;

    .vector-36-S6u {
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 18.0102rem;
      top: 0;
    }
    .vector-37-NWM {
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
      top: 0;
    }
    .vector-38-7Tw {
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
    }
    .vector-39-Fa9 {
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 21.5881rem;
      top: 0;
      object-fit: contain;
    }
    .vector-40-oLm {
      position: absolute;
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
    }
    .vector-41-jkD {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-46-Uxh {
      width: 18.7rem;
      height: 2.4rem;
      position: absolute;
      left: 0;
      top: 0.1859rem;
      object-fit: contain;
      vertical-align: top;
    }
    .venus-Rd3 {
      width: 11.6rem;
      left: 1.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.972rem;
      color: #ffffff;
      height: 2.3rem;
      position: absolute;
      top: 0.3859rem;
      text-align: center;
      line-height: 1.2525;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-kk1o-8XT {
    margin: 0rem 27rem 0.609rem 27.1rem;
    width: calc(100% - 54.1rem);
    height: 2.8718rem;
    position: relative;
    flex-shrink: 0;

    .vector-47-eEu {
      position: absolute;
      left: 18.0102rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
    }
    .vector-48-NAu {
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
      top: 0;
    }
    .vector-49-hiy {
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
    }
    .vector-50-329 {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 21.5881rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-51-Nq7 {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-52-vbj {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-57-TrZ {
      height: 2.4rem;
      position: absolute;
      left: 0;
      top: 0.205rem;
      object-fit: contain;
      vertical-align: top;
      width: 18.7rem;
    }
    .neptune-QG1 {
      font-size: 1.8rem;
      letter-spacing: 0.972rem;
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      left: 1.35rem;
      top: 0.305rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      width: 15.3rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2525;
    }
  }
  .auto-group-tacd-uCm {
    margin: 0rem 27rem 0.609rem 27.1rem;
    width: calc(100% - 54.1rem);
    height: 2.8718rem;
    position: relative;
    flex-shrink: 0;

    .vector-58-Dz9 {
      left: 18.0102rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
    }
    .vector-59-MaZ {
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
    }
    .vector-60-6HF {
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
    }
    .vector-61-oxM {
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 21.5881rem;
      top: 0;
    }
    .vector-62-LxH {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-63-gWM {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
    }
    .vector-68-RD3 {
      width: 18.7rem;
      height: 2.4rem;
      position: absolute;
      left: 0;
      top: 0.224rem;
      object-fit: contain;
      vertical-align: top;
    }
    .uranus-9uj {
      top: 0.324rem;
      font-weight: 700;
      line-height: 1.2525;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.3rem;
      height: 2.3rem;
      position: absolute;
      left: 1.5rem;
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 0.972rem;
    }
  }
  .auto-group-xehb-T9j {
    margin: 0rem 27rem 0.728rem 27.1rem;
    width: calc(100% - 54.1rem);
    height: 2.8718rem;
    position: relative;
    flex-shrink: 0;

    .vector-69-yNy {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 18.0102rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-70-KBw {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 19.2029rem;
    }
    .vector-71-eED {
      height: 2.8718rem;
      position: absolute;
      left: 20.3955rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
    }
    .vector-72-Nvu {
      left: 21.5881rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
    }
    .vector-73-89P {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 22.6891rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-74-TSZ {
      width: 2.1101rem;
      height: 2.8718rem;
      position: absolute;
      left: 23.7899rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-79-Pr1 {
      width: 18.7rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0.1431rem;
      object-fit: contain;
      vertical-align: top;
    }
    .saturn-YU1 {
      width: 12.9rem;
      height: 2.3rem;
      white-space: nowrap;
      cursor: pointer;
      text-align: center;
      line-height: 1.2525;
      font-family: Orbitron, 'Source Sans Pro';
      position: absolute;
      left: 1.35rem;
      top: 0.4431rem;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.972rem;
      color: #ffffff;
    }
  }
  .auto-group-wvyo-S3b {
    margin: 0rem 2.1rem 0rem 2rem;
    width: calc(100% - 4.1rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .group-33-MgM {
      cursor: pointer;
      position: relative;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 13.4915rem;
      width: 11.6085rem;
      height: 2.4rem;

      .rectangle-7-hER {
        box-sizing: border-box;
        border-radius: 1.2rem;
        width: 10.2468rem;
        left: 0;
        top: 0;
        border: solid 0.3rem #9e00ff;
        box-shadow: 0 0 1rem #9e00ff;
        height: 2.4rem;
        position: absolute;
      }
      .rectangle-10-CS5 {
        left: 0;
        background-color: rgba(46, 53, 218, 0.3000000119);
        border-radius: 1.2rem;
        top: 0;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        box-shadow: 0 0 1rem #9e00ff;
        width: 10.2468rem;
        height: 2.4rem;
        position: absolute;
      }
      .home-tph {
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.5rem;
        height: 1.8rem;
        top: 0.3rem;
        font-size: 1.4rem;
        color: #ffffff;
        position: absolute;
        left: 1.6rem;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
      }
    }
    .auto-group-umfk-pEV {
      margin: 0rem 14.3rem 1.171rem 0rem;
      width: 25.9rem;
      height: 2.8718rem;
      position: relative;
      flex-shrink: 0;

      .vector-80-6Su {
        position: absolute;
        left: 18.0102rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-81-dSq {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
        position: absolute;
        left: 19.2029rem;
      }
      .vector-82-N9X {
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
        position: absolute;
        left: 20.3955rem;
        top: 0;
      }
      .vector-83-7N1 {
        position: absolute;
        left: 21.5881rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-84-Sv5 {
        position: absolute;
        left: 22.6891rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-85-Bcm {
        position: absolute;
        left: 23.7899rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.1101rem;
        height: 2.8718rem;
      }
      .vector-86-vaM {
        position: absolute;
        left: 0;
        top: 0.1431rem;
        object-fit: contain;
        vertical-align: top;
        width: 18.7rem;
        height: 2.5rem;
      }
      .pluto-fXw {
        white-space: nowrap;
        width: 10.2rem;
        height: 2.3rem;
        left: 1.5rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.972rem;
        color: #ffffff;
        position: absolute;
        top: 0.4431rem;
        font-size: 1.8rem;
        line-height: 1.2525;
        font-family: Orbitron, 'Source Sans Pro';
      }
    }
    .group-32-ZtD {
      font-family: Orbitron, 'Source Sans Pro';
      box-sizing: border-box;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      width: 10.6rem;
      font-size: 1.4rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-shadow: 0 0 1rem #9e00ff;
      cursor: pointer;
      font-weight: 700;
      border-radius: 1.2rem;
      flex-shrink: 0;
      background-color: rgba(46, 53, 218, 0.3000000119);
      height: 2.4rem;
      color: #ffffff;
    }
  }
}
