
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.select-place-EBB {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-3-wbP {
    height: 36rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 80rem;
  }
  .group-54-FMB {
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    position: absolute;
    top: 1.6rem;
    left: 28.1rem;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 0.7rem;
    width: 24.4rem;
    height: 2.4rem;

    .rectangle-10-BVj {
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 0.7rem;
      width: 100%;
      height: 2.4rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
    }
  }
  .group-56-SRf {
    top: 7rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    width: 1.15rem;
    height: 1rem;
    position: absolute;
    left: 3.1rem;

    .rectangle-10-yAh {
      width: 100%;
      height: 1rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
    }
  }
  .group-89-rkH {
    height: 1rem;
    position: absolute;
    left: 18.5rem;
    top: 7rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    width: 1.15rem;

    .rectangle-10-zbb {
      width: 100%;
      height: 1rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
    }
  }
  .group-90-5sw {
    width: 1.15rem;
    height: 1rem;
    position: absolute;
    left: 34.3rem;
    top: 7rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;

    .rectangle-10-2HP {
      width: 100%;
      height: 1rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
    }
  }
  .group-91-85X {
    position: absolute;
    left: 49.6rem;
    top: 7.1rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    box-shadow: 0 0 1rem #9e00ff;
    width: 1.15rem;
    height: 1rem;

    .rectangle-10-GBj {
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 100%;
      height: 1rem;
    }
  }
  .group-92-aCR {
    box-shadow: 0 0 1rem #9e00ff;
    width: 1.15rem;
    height: 1rem;
    position: absolute;
    left: 64.6rem;
    top: 7rem;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;

    .rectangle-10-6Rf {
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 100%;
      height: 1rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
    }
  }
  .select-place-CDo {
    width: 20.9rem;
    height: 2.2rem;
    position: absolute;
    font-size: 1.7rem;
    letter-spacing: 0.918rem;
    color: #ffffff;
    font-family: Oxanium, 'Source Sans Pro';
    left: 30.4rem;
    top: 1.9rem;
    font-weight: 600;
    line-height: 1.25;
    white-space: nowrap;
  }
  .rectangle-7-TfX {
    left: 34.8rem;
    top: 31rem;
    box-shadow: 0 0 1rem #9e00ff;
    width: 10.2468rem;
    height: 2.4rem;
    position: absolute;
    border: solid 0.3rem #9e00ff;
    box-sizing: border-box;
    border-radius: 1.2rem;
  }
  .rectangle-10-xcH {
    height: 2.4rem;
    box-shadow: 0 0 1rem #9e00ff;
    background-color: rgba(46, 53, 218, 0.3000000119);
    width: 10.2468rem;
    position: absolute;
    left: 34.8rem;
    top: 31rem;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    border-radius: 1.2rem;
  }
  .go-49X {
    letter-spacing: 0.864rem;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 31.2rem;
    line-height: 1.2525;
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    width: 4.2rem;
    height: 2.1rem;
    left: 38.1rem;
  }
  .group-84-Z6H {
    padding-left: 0.6rem;
    top: 26rem;
    font-weight: 600;
    line-height: 1.2525;
    background-color: rgba(46, 53, 218, 0.3000000119);
    box-sizing: border-box;
    height: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: 0.648rem;
    box-shadow: 0 0 1rem #9e00ff;
    width: 8.8rem;
    position: absolute;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    left: 4.5rem;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    border-radius: 0.7rem;
  }
  .group-98-8Yh {
    width: 8.8rem;
    left: 19.7rem;
    line-height: 1.2525;
    letter-spacing: 0.648rem;
    white-space: nowrap;
    height: 1.6rem;
    top: 26rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    padding-left: 0.6rem;
    position: absolute;
    font-size: 1.2rem;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 0.7rem;
    box-sizing: border-box;
    font-weight: 600;
    background-color: rgba(46, 53, 218, 0.3000000119);
  }
  .group-99-imo {
    padding-left: 0.6rem;
    top: 26rem;
    color: #ffffff;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    background-color: rgba(46, 53, 218, 0.3000000119);
    height: 1.6rem;
    position: absolute;
    font-weight: 600;
    font-family: Orbitron, 'Source Sans Pro';
    box-shadow: 0 0 1rem #9e00ff;
    box-sizing: border-box;
    border-radius: 0.7rem;
    width: 8.8rem;
    left: 35.7rem;
    font-size: 1.2rem;
    line-height: 1.2525;
    letter-spacing: 0.648rem;
    white-space: nowrap;
  }
  .group-100-Whf {
    line-height: 1.2525;
    color: #ffffff;
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    padding-left: 0.6rem;
    font-weight: 600;
    left: 51rem;
    top: 26rem;
    letter-spacing: 0.648rem;
    border-radius: 0.7rem;
    width: 8.8rem;
    position: absolute;
    height: 1.6rem;
    font-family: Orbitron, 'Source Sans Pro';
  }
  .group-101-uUu {
    width: 8.8rem;
    box-shadow: 0 0 1rem #9e00ff;
    line-height: 1.2525;
    color: #ffffff;
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    padding-left: 0.6rem;
    left: 66rem;
    font-weight: 600;
    letter-spacing: 0.648rem;
    font-family: Orbitron, 'Source Sans Pro';
    background-color: rgba(46, 53, 218, 0.3000000119);
    box-sizing: border-box;
    height: 1.6rem;
    position: absolute;
    top: 26rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
  }
  .group-89-h9s {
    box-shadow: 0 0 1rem #9e00ff;
    width: 10.6rem;
    top: 31.3rem;
    letter-spacing: 0.756rem;
    display: flex;
    align-items: center;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-sizing: border-box;
    height: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.2525;
    border-radius: 1.2rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    position: absolute;
    left: 67.1rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
  }
  .group-90-siZ {
    border-radius: 1.2rem;
    width: 11.6085rem;
    height: 2.4rem;
    position: absolute;
    left: 2.3rem;
    top: 31.3rem;

    .rectangle-7-CVw {
      box-shadow: 0 0 1rem #9e00ff;
      position: absolute;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      top: 0;
      border-radius: 1.2rem;
      width: 10.2468rem;
      height: 2.4rem;
      left: 0;
    }
    .rectangle-10-hxV {
      top: 0;
      background-color: rgba(46, 53, 218, 0.3000000119);
      width: 10.2468rem;
      height: 2.4rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      position: absolute;
      left: 0;
    }
    .home-Qru {
      width: 7.5rem;
      position: absolute;
      left: 1.6rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      height: 1.8rem;
      top: 0.3rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.756rem;
      white-space: nowrap;
    }
  }
  .one-place-select-hr1 {
    width: 19.1rem;
    height: 4.1rem;
    position: absolute;
    font-weight: 700;
    letter-spacing: 0.864rem;
    left: 29.5rem;
    top: 12.1rem;
    font-size: 1.6rem;
    line-height: 1.2525;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
  }
}
