
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.spacesuit-3vy {
  display: flex;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:589df901d5b167d381fab47fe6d2b137bcfc985a');
  background-color: #ffffff;
  padding: 2.2rem 0rem 1.6rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  .auto-group-orhw-AVo {
    margin-bottom: 2.9rem;
    width: 31rem;
    height: 2.4rem;
    flex-shrink: 0;

    .group-54-VY5 {
      height: 100%;
      white-space: nowrap;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      width: 20.0185rem;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 0.7rem;
      letter-spacing: 0.756rem;
      color: #ffffff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      margin-right: 10.9815rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2525;
      padding: 0.3rem 0.518rem 0.3rem 3.5rem;
      font-family: Orbitron, 'Source Sans Pro';
    }
  }
  .deep-space-explorer-armor-4Uh {
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 3.8rem;
    font-weight: 700;
    letter-spacing: 0.594rem;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.2525;
  }
  .auto-group-rk2d-x4H {
    flex-shrink: 0;
    margin: 0rem 1.7rem 0rem 2.7rem;
    box-sizing: border-box;
    padding-top: 0.1rem;
    width: calc(100% - 4.4rem);
    height: 23.9rem;
    display: flex;
    align-items: center;

    .auto-group-fd81-47K {
      margin: 0.7rem 1.2rem 0.7rem 0rem;
      width: 20.9rem;
      height: calc(100% - 1.4rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .meadeepspaceexplorerarmor-1-N81 {
        margin-bottom: 1.4rem;
        width: 20.9rem;
        height: 20.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-57-Uwj {
        width: calc(100% - 9rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:609:18');
        flex-shrink: 0;
        margin: 0rem 4.9rem 0rem 4.1rem;

        .vector-3-DeR {
          width: 11.9rem;
          height: 0.1rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-njs3-waR {
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.2rem 4.9rem 1.2rem 0rem;
      height: calc(100% - 3.4rem);
      align-items: center;
      display: flex;

      .meadeepspaceexplorerhelmet-1-3tM {
        width: 8.6rem;
        height: 7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.9rem 0.9rem;
      }
      .meainitiativechest-1-xVX {
        width: 10.5rem;
        height: 10.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-msyf-tPB {
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 0rem 0rem 1.7rem;

      .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1 {
        line-height: 1.2525;
        letter-spacing: 0.066rem;
        color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 0.9rem 2.2rem 0rem;
        max-width: 35.5rem;
        font-weight: 700;
        font-size: 1.1rem;
        font-family: Orbitron, 'Source Sans Pro';

        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-0 {
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 800;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-1 {
          letter-spacing: 0.066rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          font-size: 1.1rem;
          font-weight: 800;
          line-height: 1.2525;
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-2 {
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-3 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-4 {
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-5 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-6 {
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-7 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-8 {
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-9 {
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-10 {
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-11 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.2525;
          letter-spacing: 0.066rem;
          color: #ffffff;
          font-family: Orbitron, 'Source Sans Pro';
        }
        .purpose-protect-astronauts-in-space-components-layers-helmet-gloves-boots-life-support-oxygen-co2-removal-temp-control-mobility-joints-for-movement-protection-extreme-temp-micrometeoroids-development-ongoing-advancements-zx1-sub-12 {
        }
      }
      .group-55-m9T {
        white-space: nowrap;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        line-height: 1.2525;
        letter-spacing: 0.756rem;
        display: flex;
        border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
        box-sizing: border-box;
        border-radius: 1.2rem;
        width: 10.6rem;
        flex-shrink: 0;
        background-color: rgba(46, 53, 218, 0.3000000119);
        font-size: 1.4rem;
        box-shadow: 0 0 1rem #9e00ff;
        height: 2.4rem;
        font-family: Orbitron, 'Source Sans Pro';
        justify-content: center;
        color: #ffffff;
      }
    }
  }
}
