
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80.001rem;
}.traveller--3HB {
  width: 100%;
  height: 36.0033rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-2-o9s {
    width: 80rem;
    height: 36rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .hello-traveller-brR {
    letter-spacing: 0.864rem;
    color: #ffffff;
    position: absolute;
    left: 20.8rem;
    top: 13.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
    white-space: nowrap;
    width: 31.6rem;
    height: 2.1rem;
  }
  .group-37-cFj {
    height: 4.3013rem;
    cursor: pointer;
    position: absolute;
    left: 6.5rem;
    top: 29.3001rem;
    border-radius: 1.2rem;
    width: 16.5003rem;

    .rectangle-11-VTw {
      left: 0.0002rem;
      top: 0.0006rem;
      box-shadow: 0 0 1rem #9e00ff;
      width: 14.1rem;
      height: 4.3rem;
      position: absolute;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      border-radius: 1.2rem;
    }
    .rectangle-12-Kxm {
      border-radius: 1.2rem;
      width: 14.1rem;
      position: absolute;
      left: 0.0002rem;
      box-sizing: border-box;
      background-color: rgba(46, 53, 218, 0.3000000119);
      height: 4.3rem;
      top: 0.0006rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-shadow: 0 0 1rem #9e00ff;
    }
    .choose-planet-a81 {
      font-weight: 700;
      letter-spacing: 0.864rem;
      font-family: Orbitron, 'Source Sans Pro';
      height: 4.1rem;
      position: absolute;
      top: 0.2006rem;
      font-size: 1.6rem;
      line-height: 1.2525;
      color: #ffffff;
      width: 11.9rem;
      left: 1.5002rem;
    }
  }
  .group-36-cqP {
    width: 17.4004rem;
    height: 4.3014rem;
    cursor: pointer;
    position: absolute;
    left: 58.5rem;
    top: 29.3rem;
    border-radius: 1.2rem;

    .rectangle-13-upV {
      width: 17.4rem;
      left: 0.0002rem;
      border: solid 0.3rem #9e00ff;
      border-radius: 1.2rem;
      height: 4.3rem;
      position: absolute;
      top: 0.0007rem;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
    }
    .rectangle-14-bxD {
      left: 0.0002rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      width: 17.4rem;
      height: 4.3rem;
      position: absolute;
      top: 0.0007rem;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.2rem;
    }
    .choose-packages-UFK {
      font-weight: 700;
      line-height: 1.2525;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      position: absolute;
      left: 1.5002rem;
      font-size: 1.6rem;
      letter-spacing: 0.864rem;
      width: 15.8rem;
      height: 4.1rem;
      top: 0.2007rem;
    }
  }
  .group-54-9sF {
    height: 4.3015rem;
    cursor: pointer;
    position: absolute;
    left: 58.8rem;
    top: 23.3rem;
    border-radius: 1.2rem;
    width: 18.0576rem;

    .rectangle-13-5W1 {
      height: 4.3rem;
      left: 0.0002rem;
      top: 0.0007rem;
      border: solid 0.3rem #9e00ff;
      box-shadow: 0 0 1rem #9e00ff;
      width: 18.0572rem;
      position: absolute;
      box-sizing: border-box;
      border-radius: 1.2rem;
    }
    .rectangle-14-wYD {
      border-radius: 1.2rem;
      height: 4.3rem;
      top: 0.0007rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      background-color: rgba(46, 53, 218, 0.3000000119);
      box-shadow: 0 0 1rem #9e00ff;
      width: 18.0572rem;
      position: absolute;
      left: 0.0002rem;
      box-sizing: border-box;
    }
  }
  .group-53-c8Z {
    height: 5.0002rem;
    cursor: pointer;
    position: absolute;
    left: 59.1217rem;
    top: 23.2999rem;
    box-sizing: border-box;
    padding: 0.0007rem 0;
    width: 17.5rem;

    .chose-place-on-your-budget-7LD {
      font-weight: 700;
      line-height: 1.2525;
      letter-spacing: 0.24rem;
      color: #ffffff;
      font-family: Orbitron, 'Source Sans Pro';
      max-width: 17.5rem;
      text-align: center;
      font-size: 1.6rem;
    }
  }
  .group-52-1wP {
    font-family: Orbitron, 'Source Sans Pro';
    width: 10.6rem;
    height: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.756rem;
    position: absolute;
    box-sizing: border-box;
    border-radius: 1.2rem;
    background-color: rgba(46, 53, 218, 0.3000000119);
    left: 67.8rem;
    line-height: 1.2525;
    color: #ffffff;
    align-items: center;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    box-shadow: 0 0 1rem #9e00ff;
    top: 2.2rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
}
