
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.vr-2-ye9 {
  height: 36rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .grey-modern-professional-business-project-presentation3-1-LUh {
    width: 80rem;
    height: 36rem;
    object-fit: cover;
    vertical-align: top;
  }
}
