
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80.126rem;
}.welcome-page-cvV {
  width: 100%;
  height: 36.3rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .lv020230904214203-1-m2h {
    width: 80.1rem;
    height: 36.3rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .group-4-t7K {
    top: 27.4rem;
    border-radius: 1.2rem;
    width: 16.9rem;
    height: 3.3rem;
    cursor: pointer;
    position: absolute;
    left: 9.7rem;

    .rectangle-7-Q5f {
      position: absolute;
      left: 0;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
      width: 16.8rem;
      height: 3.3rem;
      top: 0;
      border: solid 0.3rem #9e00ff;
    }
    .rectangle-10-VN1 {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      border-radius: 1.2rem;
      width: 16.8rem;
      height: 3.3rem;
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
    }
    .traveller-y2H {
      font-size: 1.6rem;
      letter-spacing: 0.864rem;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0.7rem;
      top: 0.6rem;
      font-weight: 700;
      line-height: 1.2525;
      color: #ffffff;
      width: 16.2rem;
      height: 2.1rem;
    }
  }
  .group-7-EU1 {
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
    height: 3.3rem;
    align-items: center;
    background-color: rgba(46, 53, 218, 0.3000000119);
    justify-content: center;
    box-sizing: border-box;
    top: 3.7rem;
    color: #ffffff;
    font-family: Orbitron, 'Source Sans Pro';
    display: flex;
    line-height: 1.2525;
    box-shadow: 0 0 1rem #9e00ff;
    border-radius: 1.2rem;
    width: 11.5rem;
    position: absolute;
    left: 66rem;
    font-size: 1.6rem;
  }
  .group-6-1dB {
    position: absolute;
    left: 56rem;
    top: 27.4rem;
    border-radius: 1.2rem;
    width: 14.2rem;
    height: 3.3rem;
    cursor: pointer;

    .rectangle-7-8xh {
      top: 0;
      border: solid 0.3rem #9e00ff;
      box-sizing: border-box;
      width: 14.1rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      box-shadow: 0 0 1rem #9e00ff;
      border-radius: 1.2rem;
    }
    .rectangle-10-r81 {
      width: 14.1rem;
      border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
      box-sizing: border-box;
      box-shadow: 0 0 1rem #9e00ff;
      background-color: rgba(46, 53, 218, 0.3000000119);
      border-radius: 1.2rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .learner-YmX {
      position: absolute;
      font-size: 1.6rem;
      line-height: 1.2525;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      font-family: Orbitron, 'Source Sans Pro';
      width: 13.4rem;
      height: 2.1rem;
      left: 0.8rem;
      top: 0.6rem;
      font-weight: 700;
      color: #ffffff;
    }
  }
}
