
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.android-large-8-1iq {
  box-sizing: border-box;
  padding-bottom: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-1-bg.png');
  background-color: #ffffff;
}
.android-large-8-1iq .auto-group-evev-M21 {
  width: 156.3rem;
  height: 42.6rem;
  position: relative;
  flex-shrink: 0;
}
.android-large-8-1iq .auto-group-evev-M21 .group-62-fYV {
  width: 19.4344rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 2.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-43-R5s.png');
}
.android-large-8-1iq .auto-group-evev-M21 .group-62-fYV .rectangle-44-1MT {
  width: 19.4344rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .group-26-vjK {
  width: 14.6966rem;
  height: 2.3rem;
  position: absolute;
  left: 4.6637rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.android-large-8-1iq .auto-group-evev-M21 .packages-4DF {
  width: 16rem;
  height: 2.2rem;
  position: absolute;
  left: 0.6rem;
  top: 3.1rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.918rem;
  color: #ffffff;
  font-family: Oxanium, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-8-1iq .auto-group-evev-M21 .steller-sojorn-adventure-jKP {
  width: 11.5rem;
  height: 2.8rem;
  position: absolute;
  left: 6.4rem;
  top: 9.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.22rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.android-large-8-1iq .auto-group-evev-M21 .moon-walk-mars-astoreid-mining-dQm {
  width: 13.3rem;
  height: 4.2rem;
  position: absolute;
  left: 5.3rem;
  top: 15.3rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.22rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.android-large-8-1iq .auto-group-evev-M21 .vector-80-753 {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 4.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-81-S7K {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 4.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .group-26-yN9 {
  width: 14.6966rem;
  height: 2.3rem;
  position: absolute;
  left: 22.6637rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.android-large-8-1iq .auto-group-evev-M21 .aphrodite-terra-J9X {
  width: 13.7rem;
  height: 1.4rem;
  position: absolute;
  left: 23.3rem;
  top: 9.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.22rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-80-QCZ {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 22.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-81-vRo {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 22.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .venus-261-million-kilometers-highland-region-raM {
  width: 15rem;
  height: 10.3rem;
  position: absolute;
  left: 24rem;
  top: 12.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9616507229;
  letter-spacing: 0.208rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.android-large-8-1iq .auto-group-evev-M21 .group-26-Eqo {
  width: 14.6966rem;
  height: 2.3rem;
  position: absolute;
  left: 40.6637rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.android-large-8-1iq .auto-group-evev-M21 .olympus-mons-AjT {
  width: 11.6rem;
  height: 1.4rem;
  position: absolute;
  left: 42.35rem;
  top: 9.4rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.22rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-80-RvH {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 40.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-81-Yk1 {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 40.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .mars-54-million-kilometers-shield-volcano-tYy {
  width: 14.3rem;
  height: 10.3rem;
  position: absolute;
  left: 42rem;
  top: 12.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9616507229;
  letter-spacing: 0.208rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.android-large-8-1iq .auto-group-evev-M21 .group-26-mcm {
  width: 14.6966rem;
  height: 2.3rem;
  position: absolute;
  left: 58.6637rem;
  top: 9.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.android-large-8-1iq .auto-group-evev-M21 .great-red-spot-6Q9 {
  width: 12.5rem;
  height: 1.4rem;
  position: absolute;
  left: 59.9rem;
  top: 9.5rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.22rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-80-nnm {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 58.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .vector-81-jT7 {
  width: 15.8rem;
  height: 16.1rem;
  position: absolute;
  left: 58.8rem;
  top: 11.1rem;
  object-fit: contain;
  vertical-align: top;
}
.android-large-8-1iq .auto-group-evev-M21 .jupiter-968-million-kilometers-anticyclonic-storm-51B {
  width: 18.1rem;
  height: 10.3rem;
  position: absolute;
  left: 60rem;
  top: 12.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9616507229;
  letter-spacing: 0.208rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.android-large-8-1iq .auto-group-gz7s-x4y {
  margin: 0rem 2.1rem 0rem 2rem;
  width: calc(100% - 4.1rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.android-large-8-1iq .auto-group-gz7s-x4y .auto-group-hhzf-fEH {
  margin-right: 55.0532rem;
  width: 10.2468rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
  flex-shrink: 0;
}
.android-large-8-1iq .auto-group-gz7s-x4y .group-61-41X {
  width: 10.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
  flex-shrink: 0;
}
