
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.android-large-7-tKT {
  box-sizing: border-box;
  padding: 8.4rem 25.1rem 11.3rem 11.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.android-large-7-tKT .chose-another-planet-to-visit-19B {
  margin: 4.3rem 0.2rem 0rem 0rem;
  max-width: 23.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1.296rem;
  color: #fffdfd;
  font-family: Oxanium, 'Source Sans Pro';
  flex-shrink: 0;
}
.android-large-7-tKT .solar-system-learning-design-with-me-game-dev-ask-shibly-UoT {
  margin-bottom: 2.2rem;
  max-width: 19.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #000000;
  font-family: Orbitron, 'Source Sans Pro';
  flex-shrink: 0;
}
