
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.calculator-8-f9K {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screen-0-1-bg-Uam.png');
  background-color: #ffffff;
}
.calculator-8-f9K .group-85-BdT {
  box-sizing: border-box;
  padding: 0 1.3rem;
  width: 32.9rem;
  height: 2.4rem;
  position: absolute;
  left: 23.6rem;
  top: 2.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.18rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-8-f9K .group-86-joP {
  width: 37.3rem;
  height: 4.1rem;
  position: absolute;
  left: 17.8rem;
  top: 8.8rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-8-f9K .group-86-joP .rectangle-7-Fmj {
  width: 10.9rem;
  height: 2.4rem;
  position: absolute;
  left: 1.3rem;
  top: 0.9rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-8-f9K .group-86-joP .earth-MJy {
  width: 6.4rem;
  height: 1.4rem;
  position: absolute;
  left: 1.7rem;
  top: 1.4rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.594rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .group-86-joP .rectangle-52-T77 {
  width: 3.2rem;
  height: 2.6rem;
  position: absolute;
  left: 9rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-8-f9K .group-86-joP .chevron-down-nfB {
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
  position: absolute;
  left: 9.8rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-8-f9K .group-87-Ry3 {
  box-sizing: border-box;
  padding: 0.1rem 0.55rem 1.3rem 0.55rem;
  width: 37.3rem;
  height: 8rem;
  position: absolute;
  left: 17.8rem;
  top: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-8-f9K .group-87-Ry3 .auto-group-6wwf-WDo {
  margin: 0rem 6.6rem 0.3rem 9.4rem;
  width: calc(100% - 16rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-6wwf-WDo .latitude-pkH {
  margin: 0.1rem 7.1rem 0rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-6wwf-WDo .longitude-7zH {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-senz-2rM {
  margin: 0rem 4.55rem 1.1rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-senz-2rM .point-1-N9X {
  margin: 0rem 2.55rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-senz-2rM .rectangle-11-fuK {
  margin-right: 2.6rem;
  width: 10.9rem;
  height: 1.8rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-senz-2rM .rectangle-12-PKX {
  margin-bottom: 0.1rem;
  width: 10.9rem;
  height: 1.8rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-jzed-hLD {
  margin-right: 4.55rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-jzed-hLD .point-2-djf {
  margin-right: 2.05rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-jzed-hLD .rectangle-14-xG9 {
  margin-right: 2.6rem;
  width: 10.9rem;
  height: 1.8rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-8-f9K .group-87-Ry3 .auto-group-jzed-hLD .rectangle-13-UVP {
  width: 10.9rem;
  height: 1.8rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-8-f9K .planet-8pq {
  width: 5.1rem;
  height: 1.6rem;
  position: absolute;
  left: 17.65rem;
  top: 6.4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .auto-group-k2qj-EN5 {
  width: 10.6rem;
  height: 2.6rem;
  position: absolute;
  left: 17.9rem;
  top: 26.8rem;
  display: flex;
  align-items: center;
}
.calculator-8-f9K .auto-group-k2qj-EN5 .round-wXP {
  margin-right: 0.35rem;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-k2qj-EN5 .mi-gE5 {
  margin: 0rem 1.05rem 0.2rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-k2qj-EN5 .auto-group-pwsu-yys {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/round-bg-Bnq.png');
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-k2qj-EN5 .auto-group-pwsu-yys .item-100-vu7 {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-8-f9K .auto-group-k2qj-EN5 .km-Euo {
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-8-f9K .display-distances-in-MjX {
  width: 16.8rem;
  height: 1.6rem;
  position: absolute;
  left: 17.6rem;
  top: 25rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .point-coordinates-Fpu {
  width: 14.1rem;
  height: 1.6rem;
  position: absolute;
  left: 17.45rem;
  top: 13.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .auto-group-trzs-YZ7 {
  width: 59.5rem;
  height: 2.4rem;
  position: absolute;
  left: 18.4rem;
  top: 31.6rem;
  display: flex;
  align-items: center;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH {
  box-sizing: border-box;
  padding: 0.1rem 30.9rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-vkqm-QrD {
  margin-right: 4.2rem;
  width: 6.9rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-vkqm-QrD .rectangle-15-k9P {
  width: 6.9rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-vkqm-QrD .submit-T3o {
  width: 4.9rem;
  height: 1.4rem;
  position: absolute;
  left: 0.95rem;
  top: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-qhqh-wUm {
  width: 6.9rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-qhqh-wUm .rectangle-16-tQ1 {
  width: 6.9rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .auto-group-hcht-srH .auto-group-qhqh-wUm .reset-C9o {
  width: 4.2rem;
  height: 1.4rem;
  position: absolute;
  left: 1.35rem;
  top: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-8-f9K .auto-group-trzs-YZ7 .group-56-h6Z {
  width: 10.6rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
  flex-shrink: 0;
}
