
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.calculator-3-iKj {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/screen-0-1-bg-VDs.png');
  background-color: #ffffff;
}
.calculator-3-iKj .group-85-rB3 {
  box-sizing: border-box;
  padding: 0 1.3rem;
  width: 32.9rem;
  height: 2.4rem;
  position: absolute;
  left: 23.6rem;
  top: 2.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.18rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-3-iKj .group-86-d5K {
  width: 37.3rem;
  height: 4.1rem;
  position: absolute;
  left: 17.8rem;
  top: 8.8rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-3-iKj .group-86-d5K .rectangle-7-k9w {
  width: 10.9rem;
  height: 2.4rem;
  position: absolute;
  left: 1.3rem;
  top: 0.9rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-3-iKj .group-86-d5K .earth-Eqo {
  width: 6.4rem;
  height: 1.4rem;
  position: absolute;
  left: 1.7rem;
  top: 1.4rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.594rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .group-86-d5K .rectangle-52-jnZ {
  width: 3.2rem;
  height: 2.6rem;
  position: absolute;
  left: 9rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-3-iKj .group-86-d5K .chevron-down-UEM {
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
  position: absolute;
  left: 9.8rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-3-iKj .group-87-7HK {
  box-sizing: border-box;
  padding: 0.1rem 0.55rem 1.3rem 0.55rem;
  width: 37.3rem;
  height: 8rem;
  position: absolute;
  left: 17.8rem;
  top: 16.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.calculator-3-iKj .group-87-7HK .auto-group-buph-Nj3 {
  margin: 0rem 6.6rem 0.3rem 9.4rem;
  width: calc(100% - 16rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-buph-Nj3 .latitude-thP {
  margin: 0.1rem 7.1rem 0rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-buph-Nj3 .longitude-zEd {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-7rnd-tqo {
  margin: 0rem 4.55rem 1.1rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-7rnd-tqo .point-1-E8y {
  margin: 0rem 2.55rem 0.1rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-7rnd-tqo .auto-group-yleh-v1o {
  margin-right: 2.6rem;
  width: 10.9rem;
  height: 1.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-7rnd-tqo .auto-group-ltw7-M77 {
  margin-bottom: 0.1rem;
  width: 10.9rem;
  height: 1.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-mcwo-zA5 {
  margin-right: 4.55rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-mcwo-zA5 .point-2-j7f {
  margin-right: 2.05rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-mcwo-zA5 .auto-group-ikmx-rCH {
  margin-right: 2.6rem;
  width: 10.9rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-3-iKj .group-87-7HK .auto-group-mcwo-zA5 .auto-group-cgmb-vT3 {
  width: 10.9rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  flex-shrink: 0;
}
.calculator-3-iKj .planet-v5f {
  width: 5.1rem;
  height: 1.6rem;
  position: absolute;
  left: 17.65rem;
  top: 6.4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .auto-group-ne21-bxV {
  width: 10.6rem;
  height: 2.6rem;
  position: absolute;
  left: 17.9rem;
  top: 26.8rem;
  display: flex;
  align-items: center;
}
.calculator-3-iKj .auto-group-ne21-bxV .round-8Bj {
  margin-right: 0.35rem;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-ne21-bxV .mi-fBf {
  margin: 0rem 1.05rem 0.2rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-ne21-bxV .auto-group-z7lh-NLy {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/round-bg-MhK.png');
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-ne21-bxV .auto-group-z7lh-NLy .item-100-KGD {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.calculator-3-iKj .auto-group-ne21-bxV .km-Ra9 {
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculator-3-iKj .display-distances-in-w2h {
  width: 16.8rem;
  height: 1.6rem;
  position: absolute;
  left: 17.6rem;
  top: 25rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .point-coordinates-ced {
  width: 14.1rem;
  height: 1.6rem;
  position: absolute;
  left: 17.45rem;
  top: 13.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 {
  width: 56.5rem;
  height: 2.4rem;
  position: absolute;
  left: 18.4rem;
  top: 31.7rem;
  display: flex;
  align-items: flex-start;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-sv3f-3V3 {
  margin-right: 4.2rem;
  width: 6.9rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-sv3f-3V3 .rectangle-15-azm {
  width: 6.9rem;
  height: 1.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-sv3f-3V3 .submit-6CR {
  width: 4.9rem;
  height: 1.4rem;
  position: absolute;
  left: 0.95rem;
  top: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-3u4m-nqw {
  margin-right: 30rem;
  width: 6.9rem;
  height: 1.5rem;
  position: relative;
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-3u4m-nqw .rectangle-16-L6m {
  width: 6.9rem;
  height: 1.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-3u4m-nqw .reset-RP7 {
  width: 4.2rem;
  height: 1.4rem;
  position: absolute;
  left: 1.35rem;
  top: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-mreu-8HX {
  margin-top: 0.6rem;
  width: 8.5rem;
  height: 1.8rem;
  position: relative;
  flex-shrink: 0;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-mreu-8HX .rectangle-53-sW1 {
  width: 8.5rem;
  height: 1.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.calculator-3-iKj .auto-group-cr6v-KJ9 .auto-group-mreu-8HX .back-PUM {
  width: 4.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.9rem;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.14rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
