
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.mars-bvy {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.mars-bvy .mars-65129-1080p-1-kYy {
  width: 80rem;
  height: 36rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.mars-bvy .group-56-5LM {
  width: 10.6rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 67.4rem;
  top: 31.1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.mars-bvy .group-57-3Rb {
  width: 11.6085rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 2.1rem;
  top: 31.1rem;
  border-radius: 1.2rem;
}
.mars-bvy .group-57-3Rb .rectangle-7-mMb {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.mars-bvy .group-57-3Rb .rectangle-10-svR {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.mars-bvy .group-57-3Rb .home-APj {
  width: 7.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.6rem;
  top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
