
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.mercury-jY5 {
  box-sizing: border-box;
  padding: 30.6rem 2rem 3rem 2.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vecteezyplanet-mercury-animation24916441327-1-bg.png');
  background-color: #ffffff;
}
.mercury-jY5 .group-57-SBb {
  margin-right: 53.6915rem;
  width: 11.6085rem;
  height: 2.4rem;
  cursor: pointer;
  position: relative;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.mercury-jY5 .group-57-SBb .rectangle-7-N5F {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.mercury-jY5 .group-57-SBb .rectangle-10-U8H {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.mercury-jY5 .group-57-SBb .home-ZQd {
  width: 7.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.6rem;
  top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.mercury-jY5 .group-56-SUR {
  width: 10.6rem;
  height: 2.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
  flex-shrink: 0;
}
