
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.moons-N6m {
  width: 100%;
  height: 36rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.moons-N6m .item-4926186-1-7q3 {
  width: 80rem;
  height: 36rem;
  object-fit: cover;
  vertical-align: top;
}
