
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.packages-3-j93 {
  width: 100%;
  height: 38rem;
  position: relative;
  background-color: #ffffff;
}
.packages-3-j93 .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-1-rUZ {
  width: 80rem;
  height: 36rem;
  position: absolute;
  left: 0;
  top: 2rem;
  object-fit: cover;
  vertical-align: top;
}
.packages-3-j93 .group-25-kK3 {
  width: 28.9rem;
  height: 13.1rem;
  position: absolute;
  left: 28.9rem;
  top: 16rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.2rem;
}
.packages-3-j93 .vector-GYH {
  width: 4rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 8.3rem;
  top: 20rem;
  object-fit: contain;
  vertical-align: top;
}
.packages-3-j93 .packages-oHK {
  width: 16rem;
  height: 2.2rem;
  position: absolute;
  left: 0.5rem;
  top: 5.2rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.918rem;
  color: #ffffff;
  font-family: Oxanium, 'Source Sans Pro';
  white-space: nowrap;
}
.packages-3-j93 .group-35-gc1 {
  width: 32.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
}
.packages-3-j93 .group-35-gc1 .vector-1-cVf {
  width: 19.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.packages-3-j93 .group-35-gc1 .vector-2-A1P {
  width: 32.5rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.packages-3-j93 .group-35-gc1 .vector-3-Hrh {
  width: 32.5rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.packages-3-j93 .line-7-2JV {
  width: 0.2rem;
  height: 8rem;
  position: absolute;
  left: 27.2rem;
  top: 19rem;
  background-color: #9e00ff;
  box-shadow: 0 0 1rem #9e00ff, 0 0 1rem #9e00ff;
}
.packages-3-j93 .line-8-8cR {
  width: 0.2rem;
  height: 8rem;
  position: absolute;
  left: 59.4rem;
  top: 19rem;
  background-color: #9e00ff;
  box-shadow: 0 0 1rem #9e00ff, 0 0 1rem #9e00ff;
}
.packages-3-j93 .group-56-EfT {
  width: 10.6rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 67.3rem;
  top: 33.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.packages-3-j93 .group-57-Pgm {
  width: 11.6085rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 33.6rem;
  border-radius: 1.2rem;
}
.packages-3-j93 .group-57-Pgm .rectangle-7-iU9 {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.packages-3-j93 .group-57-Pgm .rectangle-10-RNZ {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.packages-3-j93 .group-57-Pgm .home-Jx9 {
  width: 7.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.6rem;
  top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.packages-3-j93 .moon-landing-earthrise-experience-lunar-geology-bAZ {
  width: 22.2rem;
  height: 5.9rem;
  position: absolute;
  left: 33.7rem;
  top: 21.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  letter-spacing: 0.28rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.packages-3-j93 .lunar-legacy-Uk9 {
  width: 18.9rem;
  height: 2.5rem;
  position: absolute;
  left: 32.15rem;
  top: 17.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.53rem;
  color: #ffffff;
  font-family: Oxanium, 'Source Sans Pro';
  white-space: nowrap;
}
