
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80rem;
}.select-place-EBB {
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.select-place-EBB .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-3-wbP {
  width: 80rem;
  height: 36rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.select-place-EBB .group-54-FMB {
  width: 24.4rem;
  height: 2.4rem;
  position: absolute;
  left: 28.1rem;
  top: 1.6rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
}
.select-place-EBB .group-54-FMB .rectangle-10-BVj {
  width: 100%;
  height: 2.4rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 0.7rem;
}
.select-place-EBB .group-56-SRf {
  width: 1.15rem;
  height: 1rem;
  position: absolute;
  left: 3.1rem;
  top: 7rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
}
.select-place-EBB .group-56-SRf .rectangle-10-yAh {
  width: 100%;
  height: 1rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-89-rkH {
  width: 1.15rem;
  height: 1rem;
  position: absolute;
  left: 18.5rem;
  top: 7rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
}
.select-place-EBB .group-89-rkH .rectangle-10-zbb {
  width: 100%;
  height: 1rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-90-5sw {
  width: 1.15rem;
  height: 1rem;
  position: absolute;
  left: 34.3rem;
  top: 7rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
}
.select-place-EBB .group-90-5sw .rectangle-10-2HP {
  width: 100%;
  height: 1rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-91-85X {
  width: 1.15rem;
  height: 1rem;
  position: absolute;
  left: 49.6rem;
  top: 7.1rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
}
.select-place-EBB .group-91-85X .rectangle-10-GBj {
  width: 100%;
  height: 1rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-92-aCR {
  width: 1.15rem;
  height: 1rem;
  position: absolute;
  left: 64.6rem;
  top: 7rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
}
.select-place-EBB .group-92-aCR .rectangle-10-6Rf {
  width: 100%;
  height: 1rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .select-place-CDo {
  width: 20.9rem;
  height: 2.2rem;
  position: absolute;
  left: 30.4rem;
  top: 1.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.918rem;
  color: #ffffff;
  font-family: Oxanium, 'Source Sans Pro';
  white-space: nowrap;
}
.select-place-EBB .rectangle-7-TfX {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 34.8rem;
  top: 31rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.select-place-EBB .rectangle-10-xcH {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 34.8rem;
  top: 31rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.select-place-EBB .go-49X {
  width: 4.2rem;
  height: 2.1rem;
  position: absolute;
  left: 38.1rem;
  top: 31.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.select-place-EBB .group-84-Z6H {
  box-sizing: border-box;
  padding-left: 0.6rem;
  width: 8.8rem;
  height: 1.6rem;
  position: absolute;
  left: 4.5rem;
  top: 26rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.648rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-98-8Yh {
  box-sizing: border-box;
  padding-left: 0.6rem;
  width: 8.8rem;
  height: 1.6rem;
  position: absolute;
  left: 19.7rem;
  top: 26rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.648rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-99-imo {
  box-sizing: border-box;
  padding-left: 0.6rem;
  width: 8.8rem;
  height: 1.6rem;
  position: absolute;
  left: 35.7rem;
  top: 26rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.648rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-100-Whf {
  box-sizing: border-box;
  padding-left: 0.6rem;
  width: 8.8rem;
  height: 1.6rem;
  position: absolute;
  left: 51rem;
  top: 26rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.648rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-101-uUu {
  box-sizing: border-box;
  padding-left: 0.6rem;
  width: 8.8rem;
  height: 1.6rem;
  position: absolute;
  left: 66rem;
  top: 26rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2525;
  letter-spacing: 0.648rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 0.7rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-89-h9s {
  width: 10.6rem;
  height: 2.4rem;
  position: absolute;
  left: 67.1rem;
  top: 31.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
.select-place-EBB .group-90-siZ {
  width: 11.6085rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 31.3rem;
  border-radius: 1.2rem;
}
.select-place-EBB .group-90-siZ .rectangle-7-CVw {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.select-place-EBB .group-90-siZ .rectangle-10-hxV {
  width: 10.2468rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.select-place-EBB .group-90-siZ .home-Qru {
  width: 7.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.6rem;
  top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.select-place-EBB .one-place-select-hr1 {
  width: 19.1rem;
  height: 4.1rem;
  position: absolute;
  left: 29.5rem;
  top: 12.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
