
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 80.001rem;
}.traveller--3HB {
  width: 100%;
  height: 36.0033rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.traveller--3HB .beauty-retail-loyalty-card-in-ash-grey-brown-photo-centric-style2-2-o9s {
  width: 80rem;
  height: 36rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.traveller--3HB .hello-traveller-brR {
  width: 31.6rem;
  height: 2.1rem;
  position: absolute;
  left: 20.8rem;
  top: 13.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.traveller--3HB .group-37-cFj {
  width: 16.5003rem;
  height: 4.3013rem;
  cursor: pointer;
  position: absolute;
  left: 6.5rem;
  top: 29.3001rem;
  border-radius: 1.2rem;
}
.traveller--3HB .group-37-cFj .rectangle-11-VTw {
  width: 14.1rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0006rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.traveller--3HB .group-37-cFj .rectangle-12-Kxm {
  width: 14.1rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0006rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.traveller--3HB .group-37-cFj .choose-planet-a81 {
  width: 11.9rem;
  height: 4.1rem;
  position: absolute;
  left: 1.5002rem;
  top: 0.2006rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.traveller--3HB .group-36-cqP {
  width: 17.4004rem;
  height: 4.3014rem;
  cursor: pointer;
  position: absolute;
  left: 58.5rem;
  top: 29.3rem;
  border-radius: 1.2rem;
}
.traveller--3HB .group-36-cqP .rectangle-13-upV {
  width: 17.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0007rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.traveller--3HB .group-36-cqP .rectangle-14-bxD {
  width: 17.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0007rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.traveller--3HB .group-36-cqP .choose-packages-UFK {
  width: 15.8rem;
  height: 4.1rem;
  position: absolute;
  left: 1.5002rem;
  top: 0.2007rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.864rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.traveller--3HB .group-54-9sF {
  width: 18.0576rem;
  height: 4.3015rem;
  cursor: pointer;
  position: absolute;
  left: 58.8rem;
  top: 23.3rem;
  border-radius: 1.2rem;
}
.traveller--3HB .group-54-9sF .rectangle-13-5W1 {
  width: 18.0572rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0007rem;
  border: solid 0.3rem #9e00ff;
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
}
.traveller--3HB .group-54-9sF .rectangle-14-wYD {
  width: 18.0572rem;
  height: 4.3rem;
  position: absolute;
  left: 0.0002rem;
  top: 0.0007rem;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  background-color: rgba(46, 53, 218, 0.3000000119);
  border-radius: 1.2rem;
}
.traveller--3HB .group-53-c8Z {
  box-sizing: border-box;
  padding: 0.0007rem 0;
  width: 17.5rem;
  height: 5.0002rem;
  cursor: pointer;
  position: absolute;
  left: 59.1217rem;
  top: 23.2999rem;
}
.traveller--3HB .group-53-c8Z .chose-place-on-your-budget-7LD {
  max-width: 17.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
}
.traveller--3HB .group-52-1wP {
  width: 10.6rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 67.8rem;
  top: 2.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2525;
  letter-spacing: 0.756rem;
  color: #ffffff;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem rgba(158, 0, 255, 0.6000000238);
  box-sizing: border-box;
  box-shadow: 0 0 1rem #9e00ff;
  border-radius: 1.2rem;
  background-color: rgba(46, 53, 218, 0.3000000119);
}
